Docker/Workflow/n8n/Backup/Balance_Sheet.json
{
  "meta": {
    "instanceId": "11f0c1c42b6c6b2776daefbecbc255cb3f00c1cf58a3f90d17de2bc64e770cad"
  },
  "nodes": [
    {
      "parameters": {},
      "id": "d00b6162-eac1-4fd7-9e84-e46ffb71d143",
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        160,
        260
      ]
    },
    {
      "parameters": {
        "values": {
          "number": [
            {
              "name": "H",
              "value": "={{$node[\"HTTP Request1\"].json[\"balance\"]}}"
            }
          ],
          "string": [
            {
              "name": "G",
              "value": "Số dư site sim"
            }
          ]
        },
        "options": {}
      },
      "id": "9305d53c-2d1f-4bde-a3fe-72b83e8dd988",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        660,
        240
      ]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "update",
        "sheetId": "1HK5DJgWHC5dZECEmL1zWnQnSW2X6AOB9V1nqH3nqlZU",
        "range": "A:H",
        "key": "G",
        "options": {}
      },
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 2,
      "position": [
        840,
        240
      ],
      "id": "d0fa3599-fe10-4930-8fed-5e7a2ecbe5f6",
      "credentials": {
        "googleApi": {
          "id": "1",
          "name": "GG SA"
        }
      }
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 1,
              "unit": "minutes"
            }
          ]
        }
      },
      "id": "6146f0f7-a541-4f06-bf43-1a17aa7d013e",
      "name": "Cron",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        360,
        240
      ]
    },
    {
      "parameters": {
        "url": "http://103.142.139.24:1337/balance?token=b404d5779c966af0753bfd98c338b0da",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "id": "31d6c540-9821-45b1-a673-5bf89809ebfa",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        500,
        40
      ]
    }
  ],
  "connections": {
    "Set": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cron": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}