Docker/Workflow/n8n/Backup/Chi_Log.json
{
  "name": "Chi Log",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "id": "9b25378e-1c94-4087-8e7d-4cebfc04223c"
    },
    {
      "parameters": {
        "webhookUri": "https://discord.com/api/webhooks/1008994939713105970/KGwjU0vmHTVGCN65hWlmO-7jjSxclyevAclc3lCxQGfO8u3jepVy4kkBo1Nr4U_Jd74a",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}",
        "options": {}
      },
      "name": "Log1",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        1000,
        300
      ],
      "id": "0743f439-1745-46ae-b1d9-f0ee63210d29"
    },
    {
      "parameters": {
        "webhookUri": "https://discord.com/api/webhooks/1008994939713105970/KGwjU0vmHTVGCN65hWlmO-7jjSxclyevAclc3lCxQGfO8u3jepVy4kkBo1Nr4U_Jd74a",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}",
        "options": {}
      },
      "name": "Log2",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        1000,
        520
      ],
      "id": "f57c692e-3ad5-485f-ada4-a49a47199784"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=6199e9f5ba1db2a3",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        760,
        300
      ],
      "id": "f9a4a668-4eac-44aa-b03e-ab17773e6a41"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=87bdd8d3b242d1d5",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        760,
        520
      ],
      "id": "1d48b973-d4f4-4ec9-b609-58dedec0fc6c"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=daf1a23b44208ef4",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        760,
        720
      ],
      "id": "7e86cc2e-0c5d-4e21-8cdf-608a89b2a910"
    },
    {
      "parameters": {
        "webhookUri": "https://discord.com/api/webhooks/1008994939713105970/KGwjU0vmHTVGCN65hWlmO-7jjSxclyevAclc3lCxQGfO8u3jepVy4kkBo1Nr4U_Jd74a",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}",
        "options": {}
      },
      "name": "Log3",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        1000,
        720
      ],
      "id": "a8044856-80d1-4357-a4a0-73b67221f4f7"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=f82d8a34710384c1",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        760,
        940
      ],
      "id": "5ee784da-6fb5-4203-b15e-c4ecaec2b0ec"
    },
    {
      "parameters": {
        "webhookUri": "https://discord.com/api/webhooks/1008994939713105970/KGwjU0vmHTVGCN65hWlmO-7jjSxclyevAclc3lCxQGfO8u3jepVy4kkBo1Nr4U_Jd74a",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}",
        "options": {}
      },
      "name": "Log4",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        1000,
        940
      ],
      "id": "2eeae664-6454-4546-9f1f-ec505685484a"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=c35646d9bf7429be",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 8",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1300,
        1160
      ],
      "id": "0155d9eb-d4e0-4371-b280-482ca75aae68"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=349649eddfda70ff",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 7",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1300,
        940
      ],
      "id": "d91ea145-1eb5-4fb0-b50f-4d62724f4cee"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=38fbbe6b57d376ab",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 6",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1300,
        720
      ],
      "id": "5555d4be-8dad-4654-b6a7-7b51f556082f"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=02d78cb29b7a167c",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1300,
        520
      ],
      "id": "343b12b5-53e7-41fe-8f4b-b904a5cd6831"
    },
    {
      "parameters": {
        "webhookUri": "https://discord.com/api/webhooks/1008994939713105970/KGwjU0vmHTVGCN65hWlmO-7jjSxclyevAclc3lCxQGfO8u3jepVy4kkBo1Nr4U_Jd74a",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}",
        "options": {}
      },
      "name": "Log8",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        1540,
        1160
      ],
      "id": "d3cfd471-5401-4e49-b2bc-e3d91db16c5f"
    },
    {
      "parameters": {
        "webhookUri": "https://discord.com/api/webhooks/1008994939713105970/KGwjU0vmHTVGCN65hWlmO-7jjSxclyevAclc3lCxQGfO8u3jepVy4kkBo1Nr4U_Jd74a",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}",
        "options": {}
      },
      "name": "Log7",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        1540,
        940
      ],
      "id": "37972fef-b8cf-4c35-a239-f9023952c5b8"
    },
    {
      "parameters": {
        "webhookUri": "https://discord.com/api/webhooks/1008994939713105970/KGwjU0vmHTVGCN65hWlmO-7jjSxclyevAclc3lCxQGfO8u3jepVy4kkBo1Nr4U_Jd74a",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}",
        "options": {}
      },
      "name": "Log6",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        1540,
        720
      ],
      "id": "f31e99ca-40f7-4917-b569-57299f1e7a37"
    },
    {
      "parameters": {
        "webhookUri": "https://discord.com/api/webhooks/1008994939713105970/KGwjU0vmHTVGCN65hWlmO-7jjSxclyevAclc3lCxQGfO8u3jepVy4kkBo1Nr4U_Jd74a",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}",
        "options": {}
      },
      "name": "Log5",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        1540,
        520
      ],
      "id": "4385d404-6a47-49f1-bba3-f579fbd91b22"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=5a07fa9f19e083cb",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 9",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1840,
        720
      ],
      "id": "25641cb9-481f-4dad-8da6-e2f0331f4c61"
    },
    {
      "parameters": {
        "webhookUri": "https://discord.com/api/webhooks/1008994939713105970/KGwjU0vmHTVGCN65hWlmO-7jjSxclyevAclc3lCxQGfO8u3jepVy4kkBo1Nr4U_Jd74a",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}",
        "options": {}
      },
      "name": "Log9",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        2060,
        720
      ],
      "id": "88b30034-4041-4619-9bd6-fc72e196492d"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=ea3341157609570d",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 10",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1840,
        940
      ],
      "id": "533be8ad-239d-4fa9-bdf7-3c43a036d65a"
    },
    {
      "parameters": {
        "webhookUri": "https://discord.com/api/webhooks/1008994939713105970/KGwjU0vmHTVGCN65hWlmO-7jjSxclyevAclc3lCxQGfO8u3jepVy4kkBo1Nr4U_Jd74a",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}\n-------------------------------------------",
        "options": {}
      },
      "name": "Log10",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        2060,
        940
      ],
      "id": "9fbcda78-51fb-4950-b1b6-81122b22b0f5"
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 5,
              "unit": "minutes"
            }
          ]
        }
      },
      "name": "Every 5 Mins",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        520,
        300
      ],
      "id": "2cad9fe1-622c-432c-a4a8-d86aecbec9f5"
    }
  ],
  "pinData": {},
  "connections": {
    "Log1": {
      "main": [
        [
          {
            "node": "Get Data 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log2": {
      "main": [
        [
          {
            "node": "Get Data 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 1": {
      "main": [
        [
          {
            "node": "Log1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 2": {
      "main": [
        [
          {
            "node": "Log2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 3": {
      "main": [
        [
          {
            "node": "Log3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log3": {
      "main": [
        [
          {
            "node": "Get Data 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 4": {
      "main": [
        [
          {
            "node": "Log4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log4": {
      "main": [
        [
          {
            "node": "Get Data 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 8": {
      "main": [
        [
          {
            "node": "Log8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 7": {
      "main": [
        [
          {
            "node": "Log7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 6": {
      "main": [
        [
          {
            "node": "Log6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 5": {
      "main": [
        [
          {
            "node": "Log5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log8": {
      "main": [
        [
          {
            "node": "Get Data 9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log7": {
      "main": [
        [
          {
            "node": "Get Data 8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log6": {
      "main": [
        [
          {
            "node": "Get Data 7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log5": {
      "main": [
        [
          {
            "node": "Get Data 6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 9": {
      "main": [
        [
          {
            "node": "Log9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log9": {
      "main": [
        [
          {
            "node": "Get Data 10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 10": {
      "main": [
        [
          {
            "node": "Log10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every 5 Mins": {
      "main": [
        [
          {
            "node": "Get Data 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "id": 27,
  "tags": []
}