Docker/Workflow/n8n/Backup/Chi_Log.json
{
  "name": "Chi Log",
  "nodes": [
    {
      "parameters": {},
      "id": "b23469d7-a253-4dfa-9706-0f5913ed1fc2",
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "webhookUri": "https://discord.com/api/webhooks/1008994939713105970/KGwjU0vmHTVGCN65hWlmO-7jjSxclyevAclc3lCxQGfO8u3jepVy4kkBo1Nr4U_Jd74a",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}",
        "options": {}
      },
      "name": "Log1",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        1840,
        380
      ],
      "id": "3e8a0242-4522-48ce-88db-324970efe1ce"
    },
    {
      "parameters": {
        "webhookUri": "https://discord.com/api/webhooks/1008994939713105970/KGwjU0vmHTVGCN65hWlmO-7jjSxclyevAclc3lCxQGfO8u3jepVy4kkBo1Nr4U_Jd74a",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}",
        "options": {}
      },
      "name": "Log2",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        1840,
        600
      ],
      "id": "b4346c03-63e1-4a59-821d-595dee6f615b"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=6199e9f5ba1db2a3",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1600,
        380
      ],
      "id": "f5979751-9a66-46c7-bc09-d782074100e8"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=87bdd8d3b242d1d5",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1600,
        600
      ],
      "id": "7f9cf16c-937d-4dd3-ae1e-10b5efe2eaf6"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=daf1a23b44208ef4",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1600,
        800
      ],
      "id": "6eba5628-d6b8-4a7f-a00e-37c1cb0d3395"
    },
    {
      "parameters": {
        "webhookUri": "https://discord.com/api/webhooks/1008994939713105970/KGwjU0vmHTVGCN65hWlmO-7jjSxclyevAclc3lCxQGfO8u3jepVy4kkBo1Nr4U_Jd74a",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}",
        "options": {}
      },
      "name": "Log3",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        1840,
        800
      ],
      "id": "89dd1eb1-440e-486a-a93e-aaf58e3a6f19"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=f82d8a34710384c1",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1600,
        1020
      ],
      "id": "22474acf-c80d-4bac-8c90-dff54820fdae"
    },
    {
      "parameters": {
        "webhookUri": "https://discord.com/api/webhooks/1008994939713105970/KGwjU0vmHTVGCN65hWlmO-7jjSxclyevAclc3lCxQGfO8u3jepVy4kkBo1Nr4U_Jd74a",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}",
        "options": {}
      },
      "name": "Log4",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        1840,
        1020
      ],
      "id": "790a217d-5cfe-4346-bb62-26931e56fb44"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=c35646d9bf7429be",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 8",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2140,
        1240
      ],
      "id": "d485576e-e1d7-48c6-afb8-d8065ed572a0"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=349649eddfda70ff",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 7",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2140,
        1020
      ],
      "id": "b5bc5ee4-d93b-4b54-902a-d06535f6187b"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=38fbbe6b57d376ab",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 6",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2140,
        800
      ],
      "id": "600bee21-ea71-42f1-8260-db363368a717"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=02d78cb29b7a167c",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2140,
        600
      ],
      "id": "ed43edfe-bca1-4568-af5f-513e5e36e410"
    },
    {
      "parameters": {
        "webhookUri": "https://discord.com/api/webhooks/1008994939713105970/KGwjU0vmHTVGCN65hWlmO-7jjSxclyevAclc3lCxQGfO8u3jepVy4kkBo1Nr4U_Jd74a",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}",
        "options": {}
      },
      "name": "Log8",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        2380,
        1240
      ],
      "id": "f5b52677-b4ad-4f06-94dd-daa03f703320"
    },
    {
      "parameters": {
        "webhookUri": "https://discord.com/api/webhooks/1008994939713105970/KGwjU0vmHTVGCN65hWlmO-7jjSxclyevAclc3lCxQGfO8u3jepVy4kkBo1Nr4U_Jd74a",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}",
        "options": {}
      },
      "name": "Log7",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        2380,
        1020
      ],
      "id": "55c76707-29ca-44d9-b19b-4f65e9a1770f"
    },
    {
      "parameters": {
        "webhookUri": "https://discord.com/api/webhooks/1008994939713105970/KGwjU0vmHTVGCN65hWlmO-7jjSxclyevAclc3lCxQGfO8u3jepVy4kkBo1Nr4U_Jd74a",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}",
        "options": {}
      },
      "name": "Log6",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        2380,
        800
      ],
      "id": "e2c1fdb0-22bb-4827-83c6-492e4c944921"
    },
    {
      "parameters": {
        "webhookUri": "https://discord.com/api/webhooks/1008994939713105970/KGwjU0vmHTVGCN65hWlmO-7jjSxclyevAclc3lCxQGfO8u3jepVy4kkBo1Nr4U_Jd74a",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}",
        "options": {}
      },
      "name": "Log5",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        2380,
        600
      ],
      "id": "8cac520b-fe73-410b-95d1-a7b2b087864f"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=5a07fa9f19e083cb",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 9",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2680,
        800
      ],
      "id": "b4ec5904-4915-4fd9-8b70-833a7d0635fd"
    },
    {
      "parameters": {
        "webhookUri": "https://discord.com/api/webhooks/1008994939713105970/KGwjU0vmHTVGCN65hWlmO-7jjSxclyevAclc3lCxQGfO8u3jepVy4kkBo1Nr4U_Jd74a",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}",
        "options": {}
      },
      "name": "Log9",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        2900,
        800
      ],
      "id": "988f64c1-9e21-47ba-bd64-fefbb1a16923"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=ea3341157609570d",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 10",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2680,
        1020
      ],
      "id": "08fba072-3c29-41dd-ad71-34b02dc8c30c"
    },
    {
      "parameters": {
        "webhookUri": "https://discord.com/api/webhooks/1008994939713105970/KGwjU0vmHTVGCN65hWlmO-7jjSxclyevAclc3lCxQGfO8u3jepVy4kkBo1Nr4U_Jd74a",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}\n-------------------------------------------",
        "options": {}
      },
      "name": "Log10",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        2900,
        1020
      ],
      "id": "0d26093c-4da7-48c9-9ea8-77691dec26bd"
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 5,
              "unit": "minutes"
            }
          ]
        }
      },
      "name": "Every 5 Mins",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        1360,
        380
      ],
      "id": "f18af6b2-3965-4a10-8e50-561f1a59f921"
    }
  ],
  "pinData": {},
  "connections": {
    "Log1": {
      "main": [
        [
          {
            "node": "Get Data 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log2": {
      "main": [
        [
          {
            "node": "Get Data 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 1": {
      "main": [
        [
          {
            "node": "Log1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 2": {
      "main": [
        [
          {
            "node": "Log2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 3": {
      "main": [
        [
          {
            "node": "Log3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log3": {
      "main": [
        [
          {
            "node": "Get Data 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 4": {
      "main": [
        [
          {
            "node": "Log4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log4": {
      "main": [
        [
          {
            "node": "Get Data 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 8": {
      "main": [
        [
          {
            "node": "Log8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 7": {
      "main": [
        [
          {
            "node": "Log7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 6": {
      "main": [
        [
          {
            "node": "Log6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 5": {
      "main": [
        [
          {
            "node": "Log5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log8": {
      "main": [
        [
          {
            "node": "Get Data 9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log7": {
      "main": [
        [
          {
            "node": "Get Data 8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log6": {
      "main": [
        [
          {
            "node": "Get Data 7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log5": {
      "main": [
        [
          {
            "node": "Get Data 6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 9": {
      "main": [
        [
          {
            "node": "Log9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log9": {
      "main": [
        [
          {
            "node": "Get Data 10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 10": {
      "main": [
        [
          {
            "node": "Log10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every 5 Mins": {
      "main": [
        [
          {
            "node": "Get Data 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "id": 1,
  "meta": {
    "instanceId": "b71f8622c6c36cbe3f1931f1c7fd66069c61e9582e1552de85947a34a6e1e438"
  },
  "tags": []
}