Docker/Workflow/n8n/Backup/Chi_Log.json
{
  "name": "Chi Log",
  "nodes": [
    {
      "parameters": {},
      "id": "bfded65d-8877-43a7-a011-ad059bc246c6",
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "content": "## 👇 Get started faster \nLightning tour of the key concepts [3 min] \n\n[![n8n quickstart video](/static/quickstart_thumbnail.png#full-width)](https://www.youtube.com/watch?v=RpjQTGKm-ok)",
        "height": 300,
        "width": 380
      },
      "id": "f5990906-adfd-4845-852c-56c9e5658e23",
      "name": "_QUICKSTART_NOTE_",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -260,
        200
      ]
    },
    {
      "parameters": {
        "webhookUri": "https://discord.com/api/webhooks/1008994939713105970/KGwjU0vmHTVGCN65hWlmO-7jjSxclyevAclc3lCxQGfO8u3jepVy4kkBo1Nr4U_Jd74a",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}",
        "options": {}
      },
      "name": "Log1",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        1200,
        440
      ],
      "id": "3b318cd0-9e65-4eb2-bc2b-ebf2d2d7cbc7"
    },
    {
      "parameters": {
        "webhookUri": "https://discord.com/api/webhooks/1008994939713105970/KGwjU0vmHTVGCN65hWlmO-7jjSxclyevAclc3lCxQGfO8u3jepVy4kkBo1Nr4U_Jd74a",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}",
        "options": {}
      },
      "name": "Log2",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        1200,
        660
      ],
      "id": "2c6c34a4-c8c4-40b6-b358-518e10a781a9"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=6199e9f5ba1db2a3",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        960,
        440
      ],
      "id": "f409c2fa-0074-4f04-b27d-11325e4be86d"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=87bdd8d3b242d1d5",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        960,
        660
      ],
      "id": "db222f69-d408-4620-8928-8a4478f0266c"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=daf1a23b44208ef4",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        960,
        860
      ],
      "id": "5285602f-c071-426d-b776-08c23b76df9e"
    },
    {
      "parameters": {
        "webhookUri": "https://discord.com/api/webhooks/1008994939713105970/KGwjU0vmHTVGCN65hWlmO-7jjSxclyevAclc3lCxQGfO8u3jepVy4kkBo1Nr4U_Jd74a",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}",
        "options": {}
      },
      "name": "Log3",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        1200,
        860
      ],
      "id": "13ecb9be-ea34-4887-b867-7d3704416e9b"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=f82d8a34710384c1",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        960,
        1080
      ],
      "id": "e2981030-7a8c-4cf4-9b50-633ad5503449"
    },
    {
      "parameters": {
        "webhookUri": "https://discord.com/api/webhooks/1008994939713105970/KGwjU0vmHTVGCN65hWlmO-7jjSxclyevAclc3lCxQGfO8u3jepVy4kkBo1Nr4U_Jd74a",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}",
        "options": {}
      },
      "name": "Log4",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        1200,
        1080
      ],
      "id": "f0e7e1a5-a2a8-4c68-85bc-5c07dd2e7d4f"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=c35646d9bf7429be",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 8",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1500,
        1300
      ],
      "id": "e0ae5e63-9e31-48b9-816a-8a63318fd5c6"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=349649eddfda70ff",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 7",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1500,
        1080
      ],
      "id": "e269af3e-2eca-4f07-bece-41ede30074a0"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=38fbbe6b57d376ab",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 6",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1500,
        860
      ],
      "id": "514c44b4-e62b-4f98-be90-0a52875e3bc5"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=02d78cb29b7a167c",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1500,
        660
      ],
      "id": "f6276c52-cc5c-4a27-8d98-ddf9197745c4"
    },
    {
      "parameters": {
        "webhookUri": "https://discord.com/api/webhooks/1008994939713105970/KGwjU0vmHTVGCN65hWlmO-7jjSxclyevAclc3lCxQGfO8u3jepVy4kkBo1Nr4U_Jd74a",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}",
        "options": {}
      },
      "name": "Log8",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        1740,
        1300
      ],
      "id": "27729646-b010-4743-95d5-b96c0d11b8f4"
    },
    {
      "parameters": {
        "webhookUri": "https://discord.com/api/webhooks/1008994939713105970/KGwjU0vmHTVGCN65hWlmO-7jjSxclyevAclc3lCxQGfO8u3jepVy4kkBo1Nr4U_Jd74a",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}",
        "options": {}
      },
      "name": "Log7",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        1740,
        1080
      ],
      "id": "3b06b9bc-8339-4b1a-9de9-2be941d69d14"
    },
    {
      "parameters": {
        "webhookUri": "https://discord.com/api/webhooks/1008994939713105970/KGwjU0vmHTVGCN65hWlmO-7jjSxclyevAclc3lCxQGfO8u3jepVy4kkBo1Nr4U_Jd74a",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}",
        "options": {}
      },
      "name": "Log6",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        1740,
        860
      ],
      "id": "94e7fdb8-6b4b-483d-90b6-9aed34e89c43"
    },
    {
      "parameters": {
        "webhookUri": "https://discord.com/api/webhooks/1008994939713105970/KGwjU0vmHTVGCN65hWlmO-7jjSxclyevAclc3lCxQGfO8u3jepVy4kkBo1Nr4U_Jd74a",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}",
        "options": {}
      },
      "name": "Log5",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        1740,
        660
      ],
      "id": "7797b522-8ac0-453c-ba49-bd92281c3262"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=5a07fa9f19e083cb",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 9",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2040,
        860
      ],
      "id": "316a51a5-c95b-459e-b0f4-da85d6f2a687"
    },
    {
      "parameters": {
        "webhookUri": "https://discord.com/api/webhooks/1008994939713105970/KGwjU0vmHTVGCN65hWlmO-7jjSxclyevAclc3lCxQGfO8u3jepVy4kkBo1Nr4U_Jd74a",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}",
        "options": {}
      },
      "name": "Log9",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        2260,
        860
      ],
      "id": "d92d56fb-6fd2-406f-a5e4-f2079e2f9c96"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=ea3341157609570d",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 10",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2040,
        1080
      ],
      "id": "86c14ca0-aa64-4e50-b223-0ccaf68baf77"
    },
    {
      "parameters": {
        "webhookUri": "https://discord.com/api/webhooks/1008994939713105970/KGwjU0vmHTVGCN65hWlmO-7jjSxclyevAclc3lCxQGfO8u3jepVy4kkBo1Nr4U_Jd74a",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}\n-------------------------------------------",
        "options": {}
      },
      "name": "Log10",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        2260,
        1080
      ],
      "id": "116581d8-6b3c-440b-8106-713947dfd91b"
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 5,
              "unit": "minutes"
            }
          ]
        }
      },
      "name": "Every 5 Mins",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        720,
        440
      ],
      "id": "e295a9f0-f9a6-4a11-bf57-5075f5975594"
    }
  ],
  "pinData": {},
  "connections": {
    "Log1": {
      "main": [
        [
          {
            "node": "Get Data 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log2": {
      "main": [
        [
          {
            "node": "Get Data 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 1": {
      "main": [
        [
          {
            "node": "Log1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 2": {
      "main": [
        [
          {
            "node": "Log2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 3": {
      "main": [
        [
          {
            "node": "Log3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log3": {
      "main": [
        [
          {
            "node": "Get Data 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 4": {
      "main": [
        [
          {
            "node": "Log4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log4": {
      "main": [
        [
          {
            "node": "Get Data 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 8": {
      "main": [
        [
          {
            "node": "Log8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 7": {
      "main": [
        [
          {
            "node": "Log7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 6": {
      "main": [
        [
          {
            "node": "Log6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 5": {
      "main": [
        [
          {
            "node": "Log5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log8": {
      "main": [
        [
          {
            "node": "Get Data 9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log7": {
      "main": [
        [
          {
            "node": "Get Data 8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log6": {
      "main": [
        [
          {
            "node": "Get Data 7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log5": {
      "main": [
        [
          {
            "node": "Get Data 6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 9": {
      "main": [
        [
          {
            "node": "Log9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log9": {
      "main": [
        [
          {
            "node": "Get Data 10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 10": {
      "main": [
        [
          {
            "node": "Log10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every 5 Mins": {
      "main": [
        [
          {
            "node": "Get Data 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "id": 2,
  "meta": {
    "instanceId": "a674d506978da3053e5a404a62f6bcea6ac6137540c0d2713115cca5162ccd13"
  },
  "tags": []
}