Docker/Workflow/n8n/Backup/Dat_Log.json
{
  "name": "Dat Log",
  "nodes": [
    {
      "parameters": {},
      "id": "35b82a3f-060d-4ad1-a2db-80ac61a6c380",
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "webhookUri": "https://discord.com/api/webhooks/1004974617796018177/Z1bV2J9LYGO4YNC8DBqdpEO206XQAclhMvsted2GnO8X8TAO-jPPFkQEttkFnR0HUAUV",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}",
        "options": {}
      },
      "name": "Log1",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        2740,
        660
      ],
      "id": "8f08424f-357a-415d-b8a7-8b9528e9edce"
    },
    {
      "parameters": {
        "webhookUri": "https://discord.com/api/webhooks/1004974617796018177/Z1bV2J9LYGO4YNC8DBqdpEO206XQAclhMvsted2GnO8X8TAO-jPPFkQEttkFnR0HUAUV",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}",
        "options": {}
      },
      "name": "Log2",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        2740,
        880
      ],
      "id": "96653fe3-67ee-4bc6-9523-078ec1cc63b6"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=539188cf206c15d4",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2500,
        660
      ],
      "id": "5f63f1e3-5046-4058-80e8-ac8251efa8dd"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=edc8afb2f29705fa",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2500,
        880
      ],
      "id": "94a0e131-349f-4502-948e-a72a3d6dcc24"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=4b37eef6bfb56f42",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2500,
        1080
      ],
      "id": "8924bd86-8531-4ddb-90e8-9611c8fddb71"
    },
    {
      "parameters": {
        "webhookUri": "https://discord.com/api/webhooks/1004974617796018177/Z1bV2J9LYGO4YNC8DBqdpEO206XQAclhMvsted2GnO8X8TAO-jPPFkQEttkFnR0HUAUV",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}",
        "options": {}
      },
      "name": "Log3",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        2740,
        1080
      ],
      "id": "674f3a15-e4d6-4bfd-a70c-d1f138d5879f"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=8eefe8323103bfc0",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2500,
        1300
      ],
      "id": "c4645de5-c4de-408e-869f-00e3e310c9dd"
    },
    {
      "parameters": {
        "webhookUri": "https://discord.com/api/webhooks/1004974617796018177/Z1bV2J9LYGO4YNC8DBqdpEO206XQAclhMvsted2GnO8X8TAO-jPPFkQEttkFnR0HUAUV",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}",
        "options": {}
      },
      "name": "Log4",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        2740,
        1300
      ],
      "id": "8a9c74c6-e216-48f7-b1cf-03b6c23dca22"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=783c8db47df9662b",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 8",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        3040,
        1520
      ],
      "id": "0ce3096c-83b1-404d-988f-df3cf179194e"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=f71aa0d88544bdac",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 7",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        3040,
        1300
      ],
      "id": "b5b50127-e643-44e9-8dc8-2640a9f911ab"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=90559e54807dd62a",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 6",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        3040,
        1080
      ],
      "id": "c262b953-8fef-4b24-8bb5-9a89e5116951"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=0f1f577eba4397da",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        3040,
        880
      ],
      "id": "03ce0947-5ee8-4bcf-b29f-e0d6ebadb7fe"
    },
    {
      "parameters": {
        "webhookUri": "https://discord.com/api/webhooks/1004974617796018177/Z1bV2J9LYGO4YNC8DBqdpEO206XQAclhMvsted2GnO8X8TAO-jPPFkQEttkFnR0HUAUV",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}",
        "options": {}
      },
      "name": "Log8",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        3280,
        1520
      ],
      "id": "80f243a4-165a-4654-a086-9a0ea22f3a2d"
    },
    {
      "parameters": {
        "webhookUri": "https://discord.com/api/webhooks/1004974617796018177/Z1bV2J9LYGO4YNC8DBqdpEO206XQAclhMvsted2GnO8X8TAO-jPPFkQEttkFnR0HUAUV",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}",
        "options": {}
      },
      "name": "Log7",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        3280,
        1300
      ],
      "id": "0ba04222-4620-4624-9e53-182fdcfabd63"
    },
    {
      "parameters": {
        "webhookUri": "https://discord.com/api/webhooks/1004974617796018177/Z1bV2J9LYGO4YNC8DBqdpEO206XQAclhMvsted2GnO8X8TAO-jPPFkQEttkFnR0HUAUV",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}",
        "options": {}
      },
      "name": "Log6",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        3280,
        1080
      ],
      "id": "16b95e97-05dd-43aa-a562-718b2accb981"
    },
    {
      "parameters": {
        "webhookUri": "https://discord.com/api/webhooks/1004974617796018177/Z1bV2J9LYGO4YNC8DBqdpEO206XQAclhMvsted2GnO8X8TAO-jPPFkQEttkFnR0HUAUV",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}",
        "options": {}
      },
      "name": "Log5",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        3280,
        880
      ],
      "id": "88b904b6-6e7f-4ec1-aad0-547a1e2afa24"
    },
    {
      "parameters": {
        "content": "**Chỉ được Execute Workflow, nghiêm cấm chỉnh sửa dưới mọi hình thức**\n\n\n**Writter: Datdt**",
        "width": 380
      },
      "name": "Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1960,
        960
      ],
      "id": "9e92eb3d-1357-42d8-8a7e-757fad57061b"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=e3c3ef86bc285c49",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 9",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        3580,
        1080
      ],
      "id": "9336f671-3628-41c0-899c-1bd7f52d429a"
    },
    {
      "parameters": {
        "webhookUri": "https://discord.com/api/webhooks/1004974617796018177/Z1bV2J9LYGO4YNC8DBqdpEO206XQAclhMvsted2GnO8X8TAO-jPPFkQEttkFnR0HUAUV",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}",
        "options": {}
      },
      "name": "Log9",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        3800,
        1080
      ],
      "id": "d7451ea7-7eb0-4769-b3a8-73bb3ffac18f"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=8664818d62e12de7",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 10",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        3580,
        1300
      ],
      "id": "8a18200b-aadc-43f5-a638-9ef3a82ffcb9"
    },
    {
      "parameters": {
        "webhookUri": "https://discord.com/api/webhooks/1004974617796018177/Z1bV2J9LYGO4YNC8DBqdpEO206XQAclhMvsted2GnO8X8TAO-jPPFkQEttkFnR0HUAUV",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}",
        "options": {}
      },
      "name": "Log10",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        3800,
        1300
      ],
      "id": "b15d737e-d8f0-48d8-b2d1-20e98149ba27"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=9bb4a8f98d51416e",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 11",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        3580,
        1520
      ],
      "id": "29de276c-b4cd-4711-885d-46b4bac2bda6"
    },
    {
      "parameters": {
        "webhookUri": "https://discord.com/api/webhooks/1004974617796018177/Z1bV2J9LYGO4YNC8DBqdpEO206XQAclhMvsted2GnO8X8TAO-jPPFkQEttkFnR0HUAUV",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}",
        "options": {}
      },
      "name": "Log 11",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        3800,
        1520
      ],
      "id": "85076a92-b76c-41f9-8417-8884bcd6117f"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=6d68da1cbff214cf",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 12",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        3580,
        1740
      ],
      "id": "55677367-587c-4c23-bd56-32cf7f2bd40c"
    },
    {
      "parameters": {
        "webhookUri": "https://discord.com/api/webhooks/1004974617796018177/Z1bV2J9LYGO4YNC8DBqdpEO206XQAclhMvsted2GnO8X8TAO-jPPFkQEttkFnR0HUAUV",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}\n-------------------------------------------",
        "options": {}
      },
      "name": "Log 12",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        3800,
        1740
      ],
      "id": "e312baa9-0df4-4069-82a2-5a970285f178"
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 5,
              "unit": "minutes"
            }
          ]
        }
      },
      "name": "Every 5 Mins",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        2260,
        660
      ],
      "id": "1fa1b97a-69e3-433e-9f1e-bab34f55928d"
    }
  ],
  "pinData": {},
  "connections": {
    "Log1": {
      "main": [
        [
          {
            "node": "Get Data 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log2": {
      "main": [
        [
          {
            "node": "Get Data 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 1": {
      "main": [
        [
          {
            "node": "Log1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 2": {
      "main": [
        [
          {
            "node": "Log2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 3": {
      "main": [
        [
          {
            "node": "Log3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log3": {
      "main": [
        [
          {
            "node": "Get Data 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 4": {
      "main": [
        [
          {
            "node": "Log4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log4": {
      "main": [
        [
          {
            "node": "Get Data 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 8": {
      "main": [
        [
          {
            "node": "Log8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 7": {
      "main": [
        [
          {
            "node": "Log7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 6": {
      "main": [
        [
          {
            "node": "Log6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 5": {
      "main": [
        [
          {
            "node": "Log5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log8": {
      "main": [
        [
          {
            "node": "Get Data 9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log7": {
      "main": [
        [
          {
            "node": "Get Data 8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log6": {
      "main": [
        [
          {
            "node": "Get Data 7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log5": {
      "main": [
        [
          {
            "node": "Get Data 6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 9": {
      "main": [
        [
          {
            "node": "Log9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log9": {
      "main": [
        [
          {
            "node": "Get Data 10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 10": {
      "main": [
        [
          {
            "node": "Log10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log10": {
      "main": [
        [
          {
            "node": "Get Data 11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 11": {
      "main": [
        [
          {
            "node": "Log 11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 12": {
      "main": [
        [
          {
            "node": "Log 12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log 11": {
      "main": [
        [
          {
            "node": "Get Data 12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every 5 Mins": {
      "main": [
        [
          {
            "node": "Get Data 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "id": 2,
  "meta": {
    "instanceId": "b71f8622c6c36cbe3f1931f1c7fd66069c61e9582e1552de85947a34a6e1e438"
  },
  "tags": [
    {
      "id": "1",
      "name": "Production",
      "createdAt": "2022-09-07T04:17:52.134Z",
      "updatedAt": "2022-09-07T04:17:52.134Z"
    }
  ]
}