Docker/Workflow/n8n/Backup/Dat_Log.json
{
  "name": "Dat Log",
  "nodes": [
    {
      "parameters": {},
      "id": "f98ef79a-b9ee-42e9-bcb1-e9e4f0c468d5",
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        700,
        180
      ]
    },
    {
      "parameters": {
        "webhookUri": "https://discord.com/api/webhooks/1004974617796018177/Z1bV2J9LYGO4YNC8DBqdpEO206XQAclhMvsted2GnO8X8TAO-jPPFkQEttkFnR0HUAUV",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}",
        "options": {}
      },
      "name": "Log1",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        2120,
        180
      ],
      "id": "02dc6d06-b33e-46ae-baaf-e698d60334ad"
    },
    {
      "parameters": {
        "webhookUri": "https://discord.com/api/webhooks/1004974617796018177/Z1bV2J9LYGO4YNC8DBqdpEO206XQAclhMvsted2GnO8X8TAO-jPPFkQEttkFnR0HUAUV",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}",
        "options": {}
      },
      "name": "Log2",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        2120,
        400
      ],
      "id": "2d135831-81f5-4675-91a8-663c00765ca4"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=539188cf206c15d4",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1880,
        180
      ],
      "id": "12a0c4be-fe9a-4cc6-951e-0de460a00516"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=edc8afb2f29705fa",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1880,
        400
      ],
      "id": "d54d7bcb-2d96-402e-94f8-acb6e00ef380"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=4b37eef6bfb56f42",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1880,
        600
      ],
      "id": "aed54f19-ce00-40cb-9df6-524f9c795c67"
    },
    {
      "parameters": {
        "webhookUri": "https://discord.com/api/webhooks/1004974617796018177/Z1bV2J9LYGO4YNC8DBqdpEO206XQAclhMvsted2GnO8X8TAO-jPPFkQEttkFnR0HUAUV",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}",
        "options": {}
      },
      "name": "Log3",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        2120,
        600
      ],
      "id": "d209ec6f-23bf-4bea-add4-183305d50c69"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=8eefe8323103bfc0",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1880,
        820
      ],
      "id": "87273bf2-e513-4438-807b-fc33af0df11f"
    },
    {
      "parameters": {
        "webhookUri": "https://discord.com/api/webhooks/1004974617796018177/Z1bV2J9LYGO4YNC8DBqdpEO206XQAclhMvsted2GnO8X8TAO-jPPFkQEttkFnR0HUAUV",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}",
        "options": {}
      },
      "name": "Log4",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        2120,
        820
      ],
      "id": "55e15ee1-ee92-41ba-8563-b7a64e18801c"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=783c8db47df9662b",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 8",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2420,
        1040
      ],
      "id": "df42c966-8784-4909-bec5-cd1e0c2f900b"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=f71aa0d88544bdac",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 7",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2420,
        820
      ],
      "id": "95ff79a0-e36a-4741-8e49-7bf3dc211014"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=90559e54807dd62a",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 6",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2420,
        600
      ],
      "id": "6b706de0-f6e2-4d37-81ab-d2092828af50"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=0f1f577eba4397da",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2420,
        400
      ],
      "id": "a0926aa4-8146-4a15-9f99-a505e8fe13b3"
    },
    {
      "parameters": {
        "webhookUri": "https://discord.com/api/webhooks/1004974617796018177/Z1bV2J9LYGO4YNC8DBqdpEO206XQAclhMvsted2GnO8X8TAO-jPPFkQEttkFnR0HUAUV",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}",
        "options": {}
      },
      "name": "Log8",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        2660,
        1040
      ],
      "id": "99c2fbba-2757-407e-bdc0-f9929c26c8d8"
    },
    {
      "parameters": {
        "webhookUri": "https://discord.com/api/webhooks/1004974617796018177/Z1bV2J9LYGO4YNC8DBqdpEO206XQAclhMvsted2GnO8X8TAO-jPPFkQEttkFnR0HUAUV",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}",
        "options": {}
      },
      "name": "Log7",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        2660,
        820
      ],
      "id": "45fc333f-1a31-4f0e-94d1-0ec03218cc45"
    },
    {
      "parameters": {
        "webhookUri": "https://discord.com/api/webhooks/1004974617796018177/Z1bV2J9LYGO4YNC8DBqdpEO206XQAclhMvsted2GnO8X8TAO-jPPFkQEttkFnR0HUAUV",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}",
        "options": {}
      },
      "name": "Log6",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        2660,
        600
      ],
      "id": "cb11432f-7242-4025-abaf-d6feb42e4524"
    },
    {
      "parameters": {
        "webhookUri": "https://discord.com/api/webhooks/1004974617796018177/Z1bV2J9LYGO4YNC8DBqdpEO206XQAclhMvsted2GnO8X8TAO-jPPFkQEttkFnR0HUAUV",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}",
        "options": {}
      },
      "name": "Log5",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        2660,
        400
      ],
      "id": "8a7241fc-a7a4-43e4-a1a3-e0faf95c8a6f"
    },
    {
      "parameters": {
        "content": "**Chỉ được Execute Workflow, nghiêm cấm chỉnh sửa dưới mọi hình thức**\n\n\n**Writter: Datdt**",
        "width": 380
      },
      "name": "Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1340,
        480
      ],
      "id": "0a31e503-32ed-47af-ab00-a9b80075454e"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=e3c3ef86bc285c49",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 9",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2960,
        600
      ],
      "id": "6b5aeede-f3c1-47d1-8dbb-9e08df57fd13"
    },
    {
      "parameters": {
        "webhookUri": "https://discord.com/api/webhooks/1004974617796018177/Z1bV2J9LYGO4YNC8DBqdpEO206XQAclhMvsted2GnO8X8TAO-jPPFkQEttkFnR0HUAUV",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}",
        "options": {}
      },
      "name": "Log9",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        3180,
        600
      ],
      "id": "05e14f65-61ba-489e-a7f8-c3880fee1b9a"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=8664818d62e12de7",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 10",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2960,
        820
      ],
      "id": "6cd6db0d-f677-4fa7-988c-57af79e4f1ae"
    },
    {
      "parameters": {
        "webhookUri": "https://discord.com/api/webhooks/1004974617796018177/Z1bV2J9LYGO4YNC8DBqdpEO206XQAclhMvsted2GnO8X8TAO-jPPFkQEttkFnR0HUAUV",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}",
        "options": {}
      },
      "name": "Log10",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        3180,
        820
      ],
      "id": "0b35d64a-211c-465f-b4de-8359c0a78279"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=9bb4a8f98d51416e",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 11",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2960,
        1040
      ],
      "id": "a64375d4-a5b1-410c-9bb1-d865fe7029e5"
    },
    {
      "parameters": {
        "webhookUri": "https://discord.com/api/webhooks/1004974617796018177/Z1bV2J9LYGO4YNC8DBqdpEO206XQAclhMvsted2GnO8X8TAO-jPPFkQEttkFnR0HUAUV",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}",
        "options": {}
      },
      "name": "Log 11",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        3180,
        1040
      ],
      "id": "d82394f8-b836-4ea1-bb64-80952b7d8e4a"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=6d68da1cbff214cf",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 12",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2960,
        1260
      ],
      "id": "4ad6173e-230c-4daf-bd03-db332f134772"
    },
    {
      "parameters": {
        "webhookUri": "https://discord.com/api/webhooks/1004974617796018177/Z1bV2J9LYGO4YNC8DBqdpEO206XQAclhMvsted2GnO8X8TAO-jPPFkQEttkFnR0HUAUV",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}\n-------------------------------------------",
        "options": {}
      },
      "name": "Log 12",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        3180,
        1260
      ],
      "id": "14cf1336-d25f-4139-b788-a2594cfb7ec9"
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 5,
              "unit": "minutes"
            }
          ]
        }
      },
      "name": "Every 5 Mins",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        1640,
        180
      ],
      "id": "fd993ddb-4548-48e1-bd5b-80a7e49a2c5b"
    }
  ],
  "pinData": {},
  "connections": {
    "Log1": {
      "main": [
        [
          {
            "node": "Get Data 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log2": {
      "main": [
        [
          {
            "node": "Get Data 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 1": {
      "main": [
        [
          {
            "node": "Log1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 2": {
      "main": [
        [
          {
            "node": "Log2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 3": {
      "main": [
        [
          {
            "node": "Log3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log3": {
      "main": [
        [
          {
            "node": "Get Data 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 4": {
      "main": [
        [
          {
            "node": "Log4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log4": {
      "main": [
        [
          {
            "node": "Get Data 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 8": {
      "main": [
        [
          {
            "node": "Log8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 7": {
      "main": [
        [
          {
            "node": "Log7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 6": {
      "main": [
        [
          {
            "node": "Log6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 5": {
      "main": [
        [
          {
            "node": "Log5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log8": {
      "main": [
        [
          {
            "node": "Get Data 9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log7": {
      "main": [
        [
          {
            "node": "Get Data 8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log6": {
      "main": [
        [
          {
            "node": "Get Data 7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log5": {
      "main": [
        [
          {
            "node": "Get Data 6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 9": {
      "main": [
        [
          {
            "node": "Log9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log9": {
      "main": [
        [
          {
            "node": "Get Data 10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 10": {
      "main": [
        [
          {
            "node": "Log10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log10": {
      "main": [
        [
          {
            "node": "Get Data 11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 11": {
      "main": [
        [
          {
            "node": "Log 11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 12": {
      "main": [
        [
          {
            "node": "Log 12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log 11": {
      "main": [
        [
          {
            "node": "Get Data 12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every 5 Mins": {
      "main": [
        [
          {
            "node": "Get Data 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "id": 3,
  "meta": {
    "instanceId": "a674d506978da3053e5a404a62f6bcea6ac6137540c0d2713115cca5162ccd13"
  },
  "tags": [
    {
      "id": "1",
      "name": "Production",
      "createdAt": "2022-09-03T14:10:53.012Z",
      "updatedAt": "2022-09-03T14:10:53.012Z"
    }
  ]
}