Docker/Workflow/n8n/Backup/Phanh_Log.json
{
  "name": "Phanh Log",
  "nodes": [
    {
      "parameters": {},
      "id": "3c2d96e4-d905-4b3b-bd56-9c9dfb486a49",
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "webhookUri": "https://discord.com/api/webhooks/1004969283945758730/hmizyLJtct7Umt4pIYl1g54ocZRaQzGYOvggnoAJQ7oa3xkdsj7lTO4PSx5BtPzWqqBT",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}",
        "options": {}
      },
      "name": "Log1",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        2380,
        720
      ],
      "id": "95eae91b-7046-4426-a2a5-376c48e63da6"
    },
    {
      "parameters": {
        "webhookUri": "https://discord.com/api/webhooks/1004969283945758730/hmizyLJtct7Umt4pIYl1g54ocZRaQzGYOvggnoAJQ7oa3xkdsj7lTO4PSx5BtPzWqqBT",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}",
        "options": {}
      },
      "name": "Log2",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        2380,
        940
      ],
      "id": "80f7608d-8231-4e76-8797-fa6d36b1414a"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=78b832ea388fb6b0",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2140,
        720
      ],
      "id": "1968881e-175c-46e1-b3c3-f3244f040776"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=8b2b8d9950756a12",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2140,
        940
      ],
      "id": "d32a5224-7e32-4541-a748-9c1d71f84890"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=5e47314c0b32ab63",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2140,
        1140
      ],
      "id": "50c03cb9-7c10-4473-8df6-8918c59742ec"
    },
    {
      "parameters": {
        "webhookUri": "https://discord.com/api/webhooks/1004969283945758730/hmizyLJtct7Umt4pIYl1g54ocZRaQzGYOvggnoAJQ7oa3xkdsj7lTO4PSx5BtPzWqqBT",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}",
        "options": {}
      },
      "name": "Log3",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        2380,
        1140
      ],
      "id": "85529f24-094f-4a97-bd94-26aab4b38c4b"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=24adee6d84f295ec",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2140,
        1360
      ],
      "id": "ee8680c6-7f49-4fe7-a573-d6a7eb5ad755"
    },
    {
      "parameters": {
        "webhookUri": "https://discord.com/api/webhooks/1004969283945758730/hmizyLJtct7Umt4pIYl1g54ocZRaQzGYOvggnoAJQ7oa3xkdsj7lTO4PSx5BtPzWqqBT",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}",
        "options": {}
      },
      "name": "Log4",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        2380,
        1360
      ],
      "id": "e3c12c6c-296b-4c53-a173-02589f6ef97b"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=40f462cd7002e0cb",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 8",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2680,
        1600
      ],
      "id": "0f270be3-a96a-46b0-885e-053280020251"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=f638036bb63e7411",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 7",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2680,
        1380
      ],
      "id": "7833a160-eb19-4886-8b0d-9f8fe687cd60"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=c71823c36faddf24",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 6",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2680,
        1180
      ],
      "id": "647c25d7-3a12-481d-8914-1327fc81e8cd"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=ecb068938c85b3fe",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2680,
        940
      ],
      "id": "e47d5c73-9442-42ce-a695-481769a561fa"
    },
    {
      "parameters": {
        "webhookUri": "https://discord.com/api/webhooks/1004969283945758730/hmizyLJtct7Umt4pIYl1g54ocZRaQzGYOvggnoAJQ7oa3xkdsj7lTO4PSx5BtPzWqqBT",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}\n-------------------------------------------",
        "options": {}
      },
      "name": "Log8",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        2920,
        1600
      ],
      "id": "208f67e8-8e98-4bb9-a0ac-26d09641b721"
    },
    {
      "parameters": {
        "webhookUri": "https://discord.com/api/webhooks/1004969283945758730/hmizyLJtct7Umt4pIYl1g54ocZRaQzGYOvggnoAJQ7oa3xkdsj7lTO4PSx5BtPzWqqBT",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}",
        "options": {}
      },
      "name": "Log7",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        2920,
        1380
      ],
      "id": "5f553bd8-65b4-4ee3-9d3d-a1ec433b3173"
    },
    {
      "parameters": {
        "webhookUri": "https://discord.com/api/webhooks/1004969283945758730/hmizyLJtct7Umt4pIYl1g54ocZRaQzGYOvggnoAJQ7oa3xkdsj7lTO4PSx5BtPzWqqBT",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}",
        "options": {}
      },
      "name": "Log6",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        2920,
        1180
      ],
      "id": "2042c77f-987d-4701-9889-201160eaf2fe"
    },
    {
      "parameters": {
        "webhookUri": "https://discord.com/api/webhooks/1004969283945758730/hmizyLJtct7Umt4pIYl1g54ocZRaQzGYOvggnoAJQ7oa3xkdsj7lTO4PSx5BtPzWqqBT",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}",
        "options": {}
      },
      "name": "Log5",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        2920,
        940
      ],
      "id": "567f515e-2149-488e-a2e8-826bb9eecb87"
    },
    {
      "parameters": {
        "content": "**Chỉ được Execute Workflow, nghiêm cấm chỉnh sửa dưới mọi hình thức**\n\n\n**Writter: Datdt**",
        "width": 380
      },
      "name": "Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1600,
        1020
      ],
      "id": "64dd6150-e36c-414a-8229-53056dd83f15"
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 5,
              "unit": "minutes"
            }
          ]
        }
      },
      "name": "Every 10 Mins",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        1900,
        720
      ],
      "id": "929e4536-81ea-42f8-aedb-b2bf665d857c"
    }
  ],
  "pinData": {},
  "connections": {
    "Log1": {
      "main": [
        [
          {
            "node": "Get Data 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log2": {
      "main": [
        [
          {
            "node": "Get Data 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 1": {
      "main": [
        [
          {
            "node": "Log1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 2": {
      "main": [
        [
          {
            "node": "Log2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 3": {
      "main": [
        [
          {
            "node": "Log3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log3": {
      "main": [
        [
          {
            "node": "Get Data 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 4": {
      "main": [
        [
          {
            "node": "Log4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log4": {
      "main": [
        [
          {
            "node": "Get Data 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 8": {
      "main": [
        [
          {
            "node": "Log8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 7": {
      "main": [
        [
          {
            "node": "Log7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 6": {
      "main": [
        [
          {
            "node": "Log6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 5": {
      "main": [
        [
          {
            "node": "Log5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log7": {
      "main": [
        [
          {
            "node": "Get Data 8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log6": {
      "main": [
        [
          {
            "node": "Get Data 7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log5": {
      "main": [
        [
          {
            "node": "Get Data 6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every 10 Mins": {
      "main": [
        [
          {
            "node": "Get Data 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "id": 3,
  "meta": {
    "instanceId": "b71f8622c6c36cbe3f1931f1c7fd66069c61e9582e1552de85947a34a6e1e438"
  },
  "tags": [
    {
      "id": "1",
      "name": "Production",
      "createdAt": "2022-09-07T04:17:52.134Z",
      "updatedAt": "2022-09-07T04:17:52.134Z"
    }
  ]
}