Docker/Workflow/n8n/Backup/Synthetic.json
{
  "name": "Synthetic",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        -580,
        1640
      ],
      "id": "9da009b0-a0d9-44e0-bb37-4eaf3c6e7388"
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 6,
              "unit": "minutes"
            }
          ]
        }
      },
      "name": "Cron",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -560,
        1880
      ],
      "id": "5c2776a7-e74e-4859-980e-8c31443823cc"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "update",
        "sheetId": "1dazAyVGzdXEkHFLPKAaIJxmh-Kv3h8_Pd6XgoMFCTX0",
        "range": "A:S",
        "key": "Api",
        "options": {}
      },
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 2,
      "position": [
        1460,
        160
      ],
      "id": "635a8eea-808f-4973-b789-78b9d13f46e3",
      "credentials": {
        "googleApi": {
          "id": "3",
          "name": "GG sheet SA"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Api",
              "value": "ff8c04fd1e250a04"
            },
            {
              "name": "Name",
              "value": "={{$node[\"HTTP Request\"].json[\"Result\"][\"Name\"]}}"
            }
          ],
          "number": [
            {
              "name": "Balance1",
              "value": "={{$node[\"HTTP Request\"].json[\"Result\"][\"Balance\"]}}"
            },
            {
              "name": "Phone",
              "value": "={{$node[\"HTTP Request\"].json[\"Result\"][\"Phone\"]}}"
            },
            {
              "name": "Run time",
              "value": "={{$node[\"Format2\"].json[\"Format\"]}}"
            }
          ]
        },
        "options": {
          "dotNotation": false
        }
      },
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1240,
        160
      ],
      "id": "b36b7acf-fdbf-4bd3-a395-e9fdad3b0c0f"
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$node[\"HTTP Request\"].json[\"ResponseCode\"]}}",
              "operation": "equal"
            }
          ]
        }
      },
      "name": "IF1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        700,
        300
      ],
      "notesInFlow": true,
      "id": "c2f0c8f6-14b7-4779-89be-6d9d5fa92072",
      "notes": "Check 401 or 0"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=ff8c04fd1e250a04",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        500,
        380
      ],
      "id": "f0102923-1541-42cd-8e47-238298037de3"
    },
    {
      "parameters": {
        "action": "calculate",
        "value": "={{new Date()}}",
        "duration": 7,
        "timeUnit": "hours",
        "dataPropertyName": "Date now",
        "options": {}
      },
      "name": "Get Date Now",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 1,
      "position": [
        1240,
        420
      ],
      "id": "16e5fdc5-3bea-4481-85f2-ba0644ec85a1"
    },
    {
      "parameters": {
        "value": "={{$node[\"Get Date Now\"].json[\"Date now\"]}}",
        "dataPropertyName": "Format",
        "custom": true,
        "toFormat": "DD-MM-YYYY HH:mm:ss",
        "options": {}
      },
      "name": "Format",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 1,
      "position": [
        1460,
        420
      ],
      "id": "882830e5-1166-4cb0-b737-0a58480e3bde"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Api",
              "value": "ff8c04fd1e250a04"
            },
            {
              "name": "Status",
              "value": "Banned"
            },
            {
              "name": "Balance2"
            },
            {
              "name": "Balance3"
            },
            {
              "name": "Balance4"
            },
            {
              "name": "Balance5"
            }
          ],
          "number": [
            {
              "name": "Time",
              "value": "={{$node[\"Format\"].json[\"Format\"]}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Set1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1660,
        420
      ],
      "id": "eed709bd-3038-44ed-bcd8-d271795e62a2"
    },
    {
      "parameters": {
        "unit": "minutes"
      },
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1660,
        160
      ],
      "webhookId": "a7705e4b-1a50-4f58-a549-6964978862d1",
      "id": "6efedac4-b828-4345-aa94-46e2902a0623"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=ff8c04fd1e250a04",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1840,
        160
      ],
      "id": "1f2846fc-92c1-48cb-8567-fefa0946c3fe"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Api",
              "value": "ff8c04fd1e250a04"
            }
          ],
          "number": [
            {
              "name": "Balance2",
              "value": "={{$node[\"HTTP Request1\"].json[\"Result\"][\"Balance\"]}}"
            }
          ]
        },
        "options": {
          "dotNotation": false
        }
      },
      "name": "Set2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2020,
        160
      ],
      "id": "15c4c637-24f9-4040-a2d2-e31f7c51982d"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "update",
        "sheetId": "1dazAyVGzdXEkHFLPKAaIJxmh-Kv3h8_Pd6XgoMFCTX0",
        "range": "A:S",
        "key": "Api",
        "options": {}
      },
      "name": "Google Sheets1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 2,
      "position": [
        2200,
        160
      ],
      "id": "c2a835bb-5144-4124-aa30-f2c2247d4caf",
      "credentials": {
        "googleApi": {
          "id": "3",
          "name": "GG sheet SA"
        }
      }
    },
    {
      "parameters": {
        "unit": "minutes"
      },
      "name": "Wait1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        2380,
        20
      ],
      "webhookId": "a7705e4b-1a50-4f58-a549-6964978862d1",
      "id": "e66af266-15f5-4fc8-a8c7-eeb55c8bc1c6"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=ff8c04fd1e250a04",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "HTTP Request2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        2560,
        20
      ],
      "id": "9b30f3f0-59b4-4192-bee2-b63838f3473c"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Api",
              "value": "ff8c04fd1e250a04"
            }
          ],
          "number": [
            {
              "name": "Balance3",
              "value": "={{$node[\"HTTP Request2\"].json[\"Result\"][\"Balance\"]}}"
            }
          ]
        },
        "options": {
          "dotNotation": false
        }
      },
      "name": "Set3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2740,
        20
      ],
      "id": "4f7b4c26-dcfa-406b-8af3-ce0b035cdc72"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "update",
        "sheetId": "1dazAyVGzdXEkHFLPKAaIJxmh-Kv3h8_Pd6XgoMFCTX0",
        "range": "A:S",
        "key": "Api",
        "options": {}
      },
      "name": "Google Sheets2",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 2,
      "position": [
        2920,
        20
      ],
      "id": "c81bfaed-0579-4361-b1cd-2aadebc09e05",
      "credentials": {
        "googleApi": {
          "id": "3",
          "name": "GG sheet SA"
        }
      }
    },
    {
      "parameters": {
        "unit": "minutes"
      },
      "name": "Wait2",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        3100,
        -120
      ],
      "webhookId": "a7705e4b-1a50-4f58-a549-6964978862d1",
      "id": "a5ba7347-8173-468b-9b40-cafb69145972"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=ff8c04fd1e250a04",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "HTTP Request3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        3280,
        -120
      ],
      "id": "05ebef96-7d22-4d6d-b9e4-948c4b79c1a1"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Api",
              "value": "ff8c04fd1e250a04"
            }
          ],
          "number": [
            {
              "name": "Balance4",
              "value": "={{$node[\"HTTP Request3\"].json[\"Result\"][\"Balance\"]}}"
            }
          ]
        },
        "options": {
          "dotNotation": false
        }
      },
      "name": "Set4",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        3460,
        -120
      ],
      "id": "f840178b-1c4c-4e73-9201-46e178164eac"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "update",
        "sheetId": "1dazAyVGzdXEkHFLPKAaIJxmh-Kv3h8_Pd6XgoMFCTX0",
        "range": "A:S",
        "key": "Api",
        "options": {}
      },
      "name": "Google Sheets3",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 2,
      "position": [
        3640,
        -120
      ],
      "id": "f78a31fc-4502-451a-b55c-e3b7ec1a3db7",
      "credentials": {
        "googleApi": {
          "id": "3",
          "name": "GG sheet SA"
        }
      }
    },
    {
      "parameters": {
        "unit": "minutes"
      },
      "name": "Wait3",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        3820,
        -300
      ],
      "webhookId": "a7705e4b-1a50-4f58-a549-6964978862d1",
      "id": "c00761ee-250f-4ec1-aea1-ba3c84e47662"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=ff8c04fd1e250a04",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "HTTP Request4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        4000,
        -300
      ],
      "id": "ddd5073b-4b96-492c-a702-65c7bddb46ae"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Api",
              "value": "ff8c04fd1e250a04"
            }
          ],
          "number": [
            {
              "name": "Balance5",
              "value": "={{$node[\"HTTP Request4\"].json[\"Result\"][\"Balance\"]}}"
            }
          ]
        },
        "options": {
          "dotNotation": false
        }
      },
      "name": "Set5",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        4180,
        -300
      ],
      "id": "bea54f66-fefd-4327-b5be-d002205fd4b2"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "update",
        "sheetId": "1dazAyVGzdXEkHFLPKAaIJxmh-Kv3h8_Pd6XgoMFCTX0",
        "range": "A:S",
        "key": "Api",
        "options": {}
      },
      "name": "Google Sheets4",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 2,
      "position": [
        4780,
        -300
      ],
      "id": "9e21a248-9509-484a-ba3f-30af5ca106ac",
      "credentials": {
        "googleApi": {
          "id": "3",
          "name": "GG sheet SA"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$node[\"HTTP Request\"].json[\"Result\"][\"Balance\"]}}",
              "operation": "notEqual",
              "value2": "={{$node[\"HTTP Request1\"].json[\"Result\"][\"Balance\"]}}"
            },
            {
              "value1": "={{$node[\"HTTP Request\"].json[\"Result\"][\"Balance\"]}}",
              "operation": "notEqual",
              "value2": "={{$node[\"HTTP Request2\"].json[\"Result\"][\"Balance\"]}}"
            },
            {
              "value1": "={{$node[\"HTTP Request\"].json[\"Result\"][\"Balance\"]}}",
              "operation": "notEqual",
              "value2": "={{$node[\"HTTP Request3\"].json[\"Result\"][\"Balance\"]}}"
            },
            {
              "value1": "={{$node[\"HTTP Request\"].json[\"Result\"][\"Balance\"]}}",
              "operation": "notEqual",
              "value2": "={{$node[\"HTTP Request4\"].json[\"Result\"][\"Balance\"]}}"
            }
          ]
        },
        "combineOperation": "any"
      },
      "name": "IF2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        4380,
        -300
      ],
      "id": "21f63775-2d86-4a4e-8dde-130e2f1d25b5"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Status",
              "value": "Running"
            }
          ]
        },
        "options": {}
      },
      "name": "Set7",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        4580,
        -460
      ],
      "id": "d0cc55ee-7f13-4ec4-9ac0-c65a8d5b541d"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Status",
              "value": "Active"
            }
          ]
        },
        "options": {}
      },
      "name": "Set8",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        4580,
        -140
      ],
      "id": "b485afb6-8415-44af-8454-70fda5a36e4c"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "update",
        "sheetId": "1dazAyVGzdXEkHFLPKAaIJxmh-Kv3h8_Pd6XgoMFCTX0",
        "range": "A:S",
        "key": "Api",
        "options": {}
      },
      "name": "Google Sheets5",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 2,
      "position": [
        1860,
        420
      ],
      "id": "f6389895-9ab1-4948-947c-7e3941db932a",
      "credentials": {
        "googleApi": {
          "id": "3",
          "name": "GG sheet SA"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "sheetId": "1dazAyVGzdXEkHFLPKAaIJxmh-Kv3h8_Pd6XgoMFCTX0",
        "range": "A:S",
        "options": {}
      },
      "name": "Google Sheets6",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 2,
      "position": [
        880,
        440
      ],
      "id": "acd5df91-a45b-4929-be7a-92799077ae3b",
      "credentials": {
        "googleApi": {
          "id": "3",
          "name": "GG sheet SA"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$node[\"Google Sheets6\"].json[\"Status\"]}}",
              "operation": "contains",
              "value2": "Active"
            },
            {
              "value1": "={{$node[\"Google Sheets6\"].json[\"Status\"]}}",
              "operation": "contains",
              "value2": "Running"
            }
          ]
        },
        "combineOperation": "any"
      },
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1060,
        440
      ],
      "id": "74e88b23-1dd9-4caf-be17-2390b88acdad"
    },
    {
      "parameters": {
        "action": "calculate",
        "value": "={{new Date()}}",
        "duration": 7,
        "timeUnit": "hours",
        "dataPropertyName": "Date now",
        "options": {}
      },
      "name": "Get Date Now2",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 1,
      "position": [
        880,
        160
      ],
      "id": "dbd2e215-445c-43b8-be9c-b5e8b9c82ed4"
    },
    {
      "parameters": {
        "value": "={{$node[\"Get Date Now2\"].json[\"Date now\"]}}",
        "dataPropertyName": "Format",
        "custom": true,
        "toFormat": "DD-MM-YYYY HH:mm:ss",
        "options": {}
      },
      "name": "Format2",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 1,
      "position": [
        1060,
        160
      ],
      "id": "e6b9ac13-4c7a-443a-b108-8c5f917952a2"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "update",
        "sheetId": "1dazAyVGzdXEkHFLPKAaIJxmh-Kv3h8_Pd6XgoMFCTX0",
        "range": "A:S",
        "key": "Api",
        "options": {}
      },
      "name": "Google Sheets7",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 2,
      "position": [
        1280,
        1020
      ],
      "id": "ab380b19-a1ff-4c34-9c71-33636deda103",
      "credentials": {
        "googleApi": {
          "id": "3",
          "name": "GG sheet SA"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Api",
              "value": "4d4a0bcc11e34724"
            },
            {
              "name": "Name",
              "value": "={{$node[\"HTTP Request5\"].json[\"Result\"][\"Name\"]}}"
            }
          ],
          "number": [
            {
              "name": "Balance1",
              "value": "={{$node[\"HTTP Request5\"].json[\"Result\"][\"Balance\"]}}"
            },
            {
              "name": "Phone",
              "value": "={{$node[\"HTTP Request5\"].json[\"Result\"][\"Phone\"]}}"
            },
            {
              "name": "Run time",
              "value": "={{$node[\"Format3\"].json[\"Format\"]}}"
            }
          ]
        },
        "options": {
          "dotNotation": false
        }
      },
      "name": "Set6",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1060,
        1020
      ],
      "id": "629d1f5b-a958-4b01-b5bc-8df7d7713143"
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$node[\"HTTP Request5\"].json[\"ResponseCode\"]}}",
              "operation": "equal"
            }
          ]
        }
      },
      "name": "IF3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        520,
        1160
      ],
      "notesInFlow": true,
      "id": "c4e823fa-4090-423a-b716-1158bf562931",
      "notes": "Check 401 or 0"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=4d4a0bcc11e34724",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "HTTP Request5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        320,
        1240
      ],
      "id": "b80cb2a9-0437-4440-af16-4263c0eda897"
    },
    {
      "parameters": {
        "action": "calculate",
        "value": "={{new Date()}}",
        "duration": 7,
        "timeUnit": "hours",
        "dataPropertyName": "Date now",
        "options": {}
      },
      "name": "Get Date Now1",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 1,
      "position": [
        1060,
        1280
      ],
      "id": "60376066-066f-431c-9d3a-2eb42433cefd"
    },
    {
      "parameters": {
        "value": "={{$node[\"Get Date Now1\"].json[\"Date now\"]}}",
        "dataPropertyName": "Format",
        "custom": true,
        "toFormat": "DD-MM-YYYY HH:mm:ss",
        "options": {}
      },
      "name": "Format1",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 1,
      "position": [
        1280,
        1280
      ],
      "id": "eca02597-860c-4443-a206-7d33589f3ac8"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Api",
              "value": "4d4a0bcc11e34724"
            },
            {
              "name": "Status",
              "value": "Banned"
            },
            {
              "name": "Balance2"
            },
            {
              "name": "Balance3"
            },
            {
              "name": "Balance4"
            },
            {
              "name": "Balance5"
            }
          ],
          "number": [
            {
              "name": "Time",
              "value": "={{$node[\"Format1\"].json[\"Format\"]}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Set9",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1480,
        1280
      ],
      "id": "c0a29edb-c61f-48de-9869-6559677ee88c"
    },
    {
      "parameters": {
        "unit": "seconds"
      },
      "name": "Wait4",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1480,
        1020
      ],
      "webhookId": "a7705e4b-1a50-4f58-a549-6964978862d1",
      "id": "8a4b93a3-3920-4259-ad6d-f147bafae82d"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=4d4a0bcc11e34724",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "HTTP Request6",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1660,
        1020
      ],
      "id": "729cac0a-6262-4e66-9134-55763e18428f"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Api",
              "value": "4d4a0bcc11e34724"
            }
          ],
          "number": [
            {
              "name": "Balance2",
              "value": "={{$node[\"HTTP Request6\"].json[\"Result\"][\"Balance\"]}}"
            }
          ]
        },
        "options": {
          "dotNotation": false
        }
      },
      "name": "Set10",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1840,
        1020
      ],
      "id": "2d3549d2-d5e7-4365-94a3-fc16d51772f7"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "update",
        "sheetId": "1dazAyVGzdXEkHFLPKAaIJxmh-Kv3h8_Pd6XgoMFCTX0",
        "range": "A:S",
        "key": "Api",
        "options": {}
      },
      "name": "Google Sheets8",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 2,
      "position": [
        2020,
        1020
      ],
      "id": "a1e2d328-502d-48e7-be17-8e47644249fc",
      "credentials": {
        "googleApi": {
          "id": "3",
          "name": "GG sheet SA"
        }
      }
    },
    {
      "parameters": {
        "unit": "seconds"
      },
      "name": "Wait5",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        2200,
        880
      ],
      "webhookId": "a7705e4b-1a50-4f58-a549-6964978862d1",
      "id": "1173dae0-d8c5-4fa2-a2da-b3e5d0cc3c90"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=4d4a0bcc11e34724",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "HTTP Request7",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        2380,
        880
      ],
      "id": "bd3a085e-614e-4d6f-b816-25f12d2ba2cc"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Api",
              "value": "4d4a0bcc11e34724"
            }
          ],
          "number": [
            {
              "name": "Balance3",
              "value": "={{$node[\"HTTP Request7\"].json[\"Result\"][\"Balance\"]}}"
            }
          ]
        },
        "options": {
          "dotNotation": false
        }
      },
      "name": "Set11",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2560,
        880
      ],
      "id": "be6beaa4-4580-4814-afcb-57ac020aa76e"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "update",
        "sheetId": "1dazAyVGzdXEkHFLPKAaIJxmh-Kv3h8_Pd6XgoMFCTX0",
        "range": "A:S",
        "key": "Api",
        "options": {}
      },
      "name": "Google Sheets9",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 2,
      "position": [
        2740,
        880
      ],
      "id": "1be4dcbb-67d9-4337-82df-35fcb40aeaa4",
      "credentials": {
        "googleApi": {
          "id": "3",
          "name": "GG sheet SA"
        }
      }
    },
    {
      "parameters": {
        "unit": "seconds"
      },
      "name": "Wait6",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        2920,
        740
      ],
      "webhookId": "a7705e4b-1a50-4f58-a549-6964978862d1",
      "id": "d42e2eca-3957-4b1b-b878-8524caa03a64"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=4d4a0bcc11e34724",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "HTTP Request8",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        3100,
        740
      ],
      "id": "88f1ef52-7465-4fa2-8f68-160679ac082a"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Api",
              "value": "4d4a0bcc11e34724"
            }
          ],
          "number": [
            {
              "name": "Balance4",
              "value": "={{$node[\"HTTP Request8\"].json[\"Result\"][\"Balance\"]}}"
            }
          ]
        },
        "options": {
          "dotNotation": false
        }
      },
      "name": "Set12",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        3280,
        740
      ],
      "id": "a5893705-0903-454a-ac22-93c8d98e5b26"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "update",
        "sheetId": "1dazAyVGzdXEkHFLPKAaIJxmh-Kv3h8_Pd6XgoMFCTX0",
        "range": "A:S",
        "key": "Api",
        "options": {}
      },
      "name": "Google Sheets10",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 2,
      "position": [
        3460,
        740
      ],
      "id": "a499e0ea-61c2-45f1-9dc2-78395ca94ba2",
      "credentials": {
        "googleApi": {
          "id": "3",
          "name": "GG sheet SA"
        }
      }
    },
    {
      "parameters": {
        "unit": "seconds"
      },
      "name": "Wait7",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        3640,
        560
      ],
      "webhookId": "a7705e4b-1a50-4f58-a549-6964978862d1",
      "id": "7eb9b58e-4879-4943-aee8-8f5c98d24f66"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=4d4a0bcc11e34724",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "HTTP Request9",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        3820,
        560
      ],
      "id": "fe3f9b20-4f30-483f-a906-823f507b7100"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Api",
              "value": "4d4a0bcc11e34724"
            }
          ],
          "number": [
            {
              "name": "Balance5",
              "value": "={{$node[\"HTTP Request9\"].json[\"Result\"][\"Balance\"]}}"
            }
          ]
        },
        "options": {
          "dotNotation": false
        }
      },
      "name": "Set13",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        4000,
        560
      ],
      "id": "2e005e1a-9d4b-4a87-b94c-17cbf14dd2ee"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "update",
        "sheetId": "1dazAyVGzdXEkHFLPKAaIJxmh-Kv3h8_Pd6XgoMFCTX0",
        "range": "A:S",
        "key": "Api",
        "options": {}
      },
      "name": "Google Sheets11",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 2,
      "position": [
        4600,
        560
      ],
      "id": "ab9fc193-ef4b-4de6-8bb2-0f44a7f97111",
      "credentials": {
        "googleApi": {
          "id": "3",
          "name": "GG sheet SA"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$node[\"HTTP Request5\"].json[\"Result\"][\"Balance\"]}}",
              "operation": "notEqual",
              "value2": "={{$node[\"HTTP Request6\"].json[\"Result\"][\"Balance\"]}}"
            },
            {
              "value1": "={{$node[\"HTTP Request5\"].json[\"Result\"][\"Balance\"]}}",
              "operation": "notEqual",
              "value2": "={{$node[\"HTTP Request7\"].json[\"Result\"][\"Balance\"]}}"
            },
            {
              "value1": "={{$node[\"HTTP Request5\"].json[\"Result\"][\"Balance\"]}}",
              "operation": "notEqual",
              "value2": "={{$node[\"HTTP Request8\"].json[\"Result\"][\"Balance\"]}}"
            },
            {
              "value1": "={{$node[\"HTTP Request5\"].json[\"Result\"][\"Balance\"]}}",
              "operation": "notEqual",
              "value2": "={{$node[\"HTTP Request9\"].json[\"Result\"][\"Balance\"]}}"
            }
          ]
        },
        "combineOperation": "any"
      },
      "name": "IF4",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        4200,
        560
      ],
      "id": "73280e1f-c430-495d-b22e-764d7de6189d"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Status",
              "value": "Running"
            }
          ]
        },
        "options": {}
      },
      "name": "Set14",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        4400,
        400
      ],
      "id": "92a4c691-1400-4718-8476-8e70dab9c536"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Status",
              "value": "Active"
            }
          ]
        },
        "options": {}
      },
      "name": "Set15",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        4400,
        720
      ],
      "id": "6a1c1b76-c3d8-4271-af03-6bae2c25bcce"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "update",
        "sheetId": "1dazAyVGzdXEkHFLPKAaIJxmh-Kv3h8_Pd6XgoMFCTX0",
        "range": "A:S",
        "key": "Api",
        "options": {}
      },
      "name": "Google Sheets12",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 2,
      "position": [
        1680,
        1280
      ],
      "id": "5f8d02f8-5417-4abf-9445-d0a8540cfcdd",
      "credentials": {
        "googleApi": {
          "id": "3",
          "name": "GG sheet SA"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "sheetId": "1dazAyVGzdXEkHFLPKAaIJxmh-Kv3h8_Pd6XgoMFCTX0",
        "range": "A:S",
        "options": {}
      },
      "name": "Google Sheets13",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 2,
      "position": [
        700,
        1300
      ],
      "id": "bcaa6d7e-1c5b-4cda-bc4d-2e471aec10b7",
      "credentials": {
        "googleApi": {
          "id": "3",
          "name": "GG sheet SA"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$node[\"Google Sheets13\"].json[\"Status\"]}}",
              "operation": "contains",
              "value2": "Active"
            },
            {
              "value1": "={{$node[\"Google Sheets13\"].json[\"Status\"]}}",
              "operation": "contains",
              "value2": "Running"
            }
          ]
        },
        "combineOperation": "any"
      },
      "name": "IF5",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        880,
        1300
      ],
      "id": "6977cce4-3fd2-4b47-bec4-9339db5c9e09"
    },
    {
      "parameters": {
        "action": "calculate",
        "value": "={{new Date()}}",
        "duration": 7,
        "timeUnit": "hours",
        "dataPropertyName": "Date now",
        "options": {}
      },
      "name": "Get Date Now3",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 1,
      "position": [
        700,
        1020
      ],
      "id": "13788396-09c6-4779-9ca3-d85f13560aa8"
    },
    {
      "parameters": {
        "value": "={{$node[\"Get Date Now3\"].json[\"Date now\"]}}",
        "dataPropertyName": "Format",
        "custom": true,
        "toFormat": "DD-MM-YYYY HH:mm:ss",
        "options": {}
      },
      "name": "Format3",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 1,
      "position": [
        880,
        1020
      ],
      "id": "ec4300a9-d17e-4104-962e-ee75273680c9"
    },
    {
      "parameters": {
        "unit": "seconds"
      },
      "name": "Wait8",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        2220,
        1780
      ],
      "webhookId": "a7705e4b-1a50-4f58-a549-6964978862d1",
      "id": "759e1927-fefa-4ff4-b404-f4d60d157754"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=b6a4bccda95d69f8",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "HTTP Request10",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        2400,
        1780
      ],
      "id": "4fe00c34-863e-4f36-9582-c635b2bbb370"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Api",
              "value": "b6a4bccda95d69f8"
            }
          ],
          "number": [
            {
              "name": "Balance3",
              "value": "={{$node[\"HTTP Request10\"].json[\"Result\"][\"Balance\"]}}"
            }
          ]
        },
        "options": {
          "dotNotation": false
        }
      },
      "name": "Set16",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2580,
        1780
      ],
      "id": "cfc9e194-5279-4222-ae3c-54973587dd8a"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "update",
        "sheetId": "1dazAyVGzdXEkHFLPKAaIJxmh-Kv3h8_Pd6XgoMFCTX0",
        "range": "A:S",
        "key": "Api",
        "options": {}
      },
      "name": "Google Sheets14",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 2,
      "position": [
        2760,
        1780
      ],
      "id": "d3c9d397-2aa4-41c0-a43c-9008ec6a1d40",
      "credentials": {
        "googleApi": {
          "id": "3",
          "name": "GG sheet SA"
        }
      }
    },
    {
      "parameters": {
        "unit": "seconds"
      },
      "name": "Wait9",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        2940,
        1640
      ],
      "webhookId": "a7705e4b-1a50-4f58-a549-6964978862d1",
      "id": "f3378ecc-53e6-47db-8670-6463f1cac138"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=b6a4bccda95d69f8",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "HTTP Request11",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        3120,
        1640
      ],
      "id": "a135d078-a039-4cb4-8ede-f3986d418455"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Api",
              "value": "b6a4bccda95d69f8"
            }
          ],
          "number": [
            {
              "name": "Balance4",
              "value": "={{$node[\"HTTP Request11\"].json[\"Result\"][\"Balance\"]}}"
            }
          ]
        },
        "options": {
          "dotNotation": false
        }
      },
      "name": "Set17",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        3300,
        1640
      ],
      "id": "1a3880d1-ab65-473a-a886-b9bf93ef2394"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "update",
        "sheetId": "1dazAyVGzdXEkHFLPKAaIJxmh-Kv3h8_Pd6XgoMFCTX0",
        "range": "A:S",
        "key": "Api",
        "options": {}
      },
      "name": "Google Sheets15",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 2,
      "position": [
        3480,
        1640
      ],
      "id": "ea75bca4-014c-4ca1-8da5-1b8c7d167756",
      "credentials": {
        "googleApi": {
          "id": "3",
          "name": "GG sheet SA"
        }
      }
    },
    {
      "parameters": {
        "unit": "seconds"
      },
      "name": "Wait10",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        3660,
        1460
      ],
      "webhookId": "a7705e4b-1a50-4f58-a549-6964978862d1",
      "id": "687b0660-6be4-4e63-bbb4-81430310c1cb"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=b6a4bccda95d69f8",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "HTTP Request12",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        3840,
        1460
      ],
      "id": "622944dc-7b42-4ca3-b50e-394b93c4a0e1"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Api",
              "value": "b6a4bccda95d69f8"
            }
          ],
          "number": [
            {
              "name": "Balance5",
              "value": "={{$node[\"HTTP Request12\"].json[\"Result\"][\"Balance\"]}}"
            }
          ]
        },
        "options": {
          "dotNotation": false
        }
      },
      "name": "Set18",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        4020,
        1460
      ],
      "id": "97247f95-2004-4d03-a3c4-0535a9e14168"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "update",
        "sheetId": "1dazAyVGzdXEkHFLPKAaIJxmh-Kv3h8_Pd6XgoMFCTX0",
        "range": "A:S",
        "key": "Api",
        "options": {}
      },
      "name": "Google Sheets16",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 2,
      "position": [
        4620,
        1460
      ],
      "id": "ddc2e248-e553-40c3-ba6d-d743add6c116",
      "credentials": {
        "googleApi": {
          "id": "3",
          "name": "GG sheet SA"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$node[\"HTTP Request14\"].json[\"Result\"][\"Balance\"]}}",
              "operation": "notEqual",
              "value2": "={{$node[\"HTTP Request13\"].json[\"Result\"][\"Balance\"]}}"
            },
            {
              "value1": "={{$node[\"HTTP Request14\"].json[\"Result\"][\"Balance\"]}}",
              "operation": "notEqual",
              "value2": "={{$node[\"HTTP Request10\"].json[\"Result\"][\"Balance\"]}}"
            },
            {
              "value1": "={{$node[\"HTTP Request14\"].json[\"Result\"][\"Balance\"]}}",
              "operation": "notEqual",
              "value2": "={{$node[\"HTTP Request11\"].json[\"Result\"][\"Balance\"]}}"
            },
            {
              "value1": "={{$node[\"HTTP Request14\"].json[\"Result\"][\"Balance\"]}}",
              "operation": "notEqual",
              "value2": "={{$node[\"HTTP Request12\"].json[\"Result\"][\"Balance\"]}}"
            }
          ]
        },
        "combineOperation": "any"
      },
      "name": "IF6",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        4220,
        1460
      ],
      "id": "6bb195a8-a2eb-4287-8b60-8cf9769576c8"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Status",
              "value": "Running"
            }
          ]
        },
        "options": {}
      },
      "name": "Set19",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        4420,
        1300
      ],
      "id": "1b7abfce-2879-42a8-8e3f-29d30c5d5c0c"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Status",
              "value": "Active"
            }
          ]
        },
        "options": {}
      },
      "name": "Set20",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        4420,
        1620
      ],
      "id": "89192840-33f4-4cc3-958a-93f2b56430ff"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "update",
        "sheetId": "1dazAyVGzdXEkHFLPKAaIJxmh-Kv3h8_Pd6XgoMFCTX0",
        "range": "A:S",
        "key": "Api",
        "options": {}
      },
      "name": "Google Sheets17",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 2,
      "position": [
        2040,
        1920
      ],
      "id": "ddb550e6-aaf3-4fa3-9db5-765d52448be3",
      "credentials": {
        "googleApi": {
          "id": "3",
          "name": "GG sheet SA"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Api",
              "value": "b6a4bccda95d69f8"
            }
          ],
          "number": [
            {
              "name": "Balance2",
              "value": "={{$node[\"HTTP Request13\"].json[\"Result\"][\"Balance\"]}}"
            }
          ]
        },
        "options": {
          "dotNotation": false
        }
      },
      "name": "Set21",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1860,
        1920
      ],
      "id": "e0869912-dafb-4dec-98ef-02e469a5ca6b"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=b6a4bccda95d69f8",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "HTTP Request13",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1680,
        1920
      ],
      "id": "204c4bc9-fc30-462b-a72b-cd231916a294"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "update",
        "sheetId": "1dazAyVGzdXEkHFLPKAaIJxmh-Kv3h8_Pd6XgoMFCTX0",
        "range": "A:S",
        "key": "Api",
        "options": {}
      },
      "name": "Google Sheets18",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 2,
      "position": [
        1700,
        2180
      ],
      "id": "f1f62b3b-a91a-4bde-8108-1873e4b24027",
      "credentials": {
        "googleApi": {
          "id": "3",
          "name": "GG sheet SA"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Api",
              "value": "b6a4bccda95d69f8"
            },
            {
              "name": "Status",
              "value": "Banned"
            },
            {
              "name": "Balance2"
            },
            {
              "name": "Balance3"
            },
            {
              "name": "Balance4"
            },
            {
              "name": "Balance5"
            }
          ],
          "number": [
            {
              "name": "Time",
              "value": "={{$node[\"Format5\"].json[\"Format\"]}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Set22",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1500,
        2180
      ],
      "id": "0469a8db-2191-4ffb-b5c4-de667fd66a5e"
    },
    {
      "parameters": {
        "unit": "seconds"
      },
      "name": "Wait11",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1500,
        1920
      ],
      "webhookId": "a7705e4b-1a50-4f58-a549-6964978862d1",
      "id": "25453fee-3def-4105-b112-a222aa58beca"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "update",
        "sheetId": "1dazAyVGzdXEkHFLPKAaIJxmh-Kv3h8_Pd6XgoMFCTX0",
        "range": "A:S",
        "key": "Api",
        "options": {}
      },
      "name": "Google Sheets19",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 2,
      "position": [
        1300,
        1920
      ],
      "id": "46815c88-80ea-4f79-aa06-7574c11be831",
      "credentials": {
        "googleApi": {
          "id": "3",
          "name": "GG sheet SA"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Api",
              "value": "b6a4bccda95d69f8"
            },
            {
              "name": "Name",
              "value": "={{$node[\"HTTP Request14\"].json[\"Result\"][\"Name\"]}}"
            }
          ],
          "number": [
            {
              "name": "Balance1",
              "value": "={{$node[\"HTTP Request14\"].json[\"Result\"][\"Balance\"]}}"
            },
            {
              "name": "Phone",
              "value": "={{$node[\"HTTP Request14\"].json[\"Result\"][\"Phone\"]}}"
            },
            {
              "name": "Run time",
              "value": "={{$node[\"Format4\"].json[\"Format\"]}}"
            }
          ]
        },
        "options": {
          "dotNotation": false
        }
      },
      "name": "Set23",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1080,
        1920
      ],
      "id": "94421b01-888c-4b68-bf07-4095f5db138b"
    },
    {
      "parameters": {
        "value": "={{$node[\"Get Date Now4\"].json[\"Date now\"]}}",
        "dataPropertyName": "Format",
        "custom": true,
        "toFormat": "DD-MM-YYYY HH:mm:ss",
        "options": {}
      },
      "name": "Format4",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 1,
      "position": [
        900,
        1920
      ],
      "id": "b6b91710-e9c8-4984-85ee-0ba3c82b7a5d"
    },
    {
      "parameters": {
        "action": "calculate",
        "value": "={{new Date()}}",
        "duration": 7,
        "timeUnit": "hours",
        "dataPropertyName": "Date now",
        "options": {}
      },
      "name": "Get Date Now4",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 1,
      "position": [
        720,
        1920
      ],
      "id": "49094694-f242-4ea7-bbd4-90dbc2203fb1"
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$node[\"HTTP Request14\"].json[\"ResponseCode\"]}}",
              "operation": "equal"
            }
          ]
        }
      },
      "name": "IF7",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        540,
        2060
      ],
      "notesInFlow": true,
      "id": "cad54bf5-09b0-4142-b0db-014fd9ef4725",
      "notes": "Check 401 or 0"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=b6a4bccda95d69f8",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "HTTP Request14",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        340,
        2140
      ],
      "id": "ae3886a7-2825-4849-86ac-65149eda333b"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "sheetId": "1dazAyVGzdXEkHFLPKAaIJxmh-Kv3h8_Pd6XgoMFCTX0",
        "range": "A:S",
        "options": {}
      },
      "name": "Google Sheets20",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 2,
      "position": [
        720,
        2200
      ],
      "id": "865f87f0-4bf6-486e-8a96-3f2ea92690b0",
      "credentials": {
        "googleApi": {
          "id": "3",
          "name": "GG sheet SA"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$node[\"Google Sheets20\"].json[\"Status\"]}}",
              "operation": "contains",
              "value2": "Active"
            },
            {
              "value1": "={{$node[\"Google Sheets20\"].json[\"Status\"]}}",
              "operation": "contains",
              "value2": "Running"
            }
          ]
        },
        "combineOperation": "any"
      },
      "name": "IF8",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        900,
        2200
      ],
      "id": "0581c946-192f-4670-ac44-bfcddb6e9f1a"
    },
    {
      "parameters": {
        "action": "calculate",
        "value": "={{new Date()}}",
        "duration": 7,
        "timeUnit": "hours",
        "dataPropertyName": "Date now",
        "options": {}
      },
      "name": "Get Date Now5",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 1,
      "position": [
        1080,
        2180
      ],
      "id": "0359b9a7-b0ec-405b-b942-8e6bab5bb9a8"
    },
    {
      "parameters": {
        "value": "={{$node[\"Get Date Now5\"].json[\"Date now\"]}}",
        "dataPropertyName": "Format",
        "custom": true,
        "toFormat": "DD-MM-YYYY HH:mm:ss",
        "options": {}
      },
      "name": "Format5",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 1,
      "position": [
        1300,
        2180
      ],
      "id": "26bddc33-5ed7-493b-82b4-4cf9929af173"
    }
  ],
  "pinData": {},
  "connections": {
    "Cron": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request5",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF1": {
      "main": [
        [
          {
            "node": "Get Date Now2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Sheets6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request5",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Date Now": {
      "main": [
        [
          {
            "node": "Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format": {
      "main": [
        [
          {
            "node": "Set1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set1": {
      "main": [
        [
          {
            "node": "Google Sheets5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Set2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set2": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Set3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set3": {
      "main": [
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets2": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Set4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set4": {
      "main": [
        [
          {
            "node": "Google Sheets3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "Set5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set5": {
      "main": [
        [
          {
            "node": "IF2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets3": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF2": {
      "main": [
        [
          {
            "node": "Set7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set7": {
      "main": [
        [
          {
            "node": "Google Sheets4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set8": {
      "main": [
        [
          {
            "node": "Google Sheets4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets6": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Get Date Now",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Date Now2": {
      "main": [
        [
          {
            "node": "Format2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format2": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets7": {
      "main": [
        [
          {
            "node": "Wait4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set6": {
      "main": [
        [
          {
            "node": "Google Sheets7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF3": {
      "main": [
        [
          {
            "node": "Get Date Now3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Sheets13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request5": {
      "main": [
        [
          {
            "node": "IF3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Date Now1": {
      "main": [
        [
          {
            "node": "Format1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format1": {
      "main": [
        [
          {
            "node": "Set9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set9": {
      "main": [
        [
          {
            "node": "Google Sheets12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait4": {
      "main": [
        [
          {
            "node": "HTTP Request6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request6": {
      "main": [
        [
          {
            "node": "Set10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set10": {
      "main": [
        [
          {
            "node": "Google Sheets8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets8": {
      "main": [
        [
          {
            "node": "Wait5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait5": {
      "main": [
        [
          {
            "node": "HTTP Request7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request7": {
      "main": [
        [
          {
            "node": "Set11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set11": {
      "main": [
        [
          {
            "node": "Google Sheets9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets9": {
      "main": [
        [
          {
            "node": "Wait6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait6": {
      "main": [
        [
          {
            "node": "HTTP Request8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request8": {
      "main": [
        [
          {
            "node": "Set12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set12": {
      "main": [
        [
          {
            "node": "Google Sheets10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets10": {
      "main": [
        [
          {
            "node": "Wait7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait7": {
      "main": [
        [
          {
            "node": "HTTP Request9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request9": {
      "main": [
        [
          {
            "node": "Set13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set13": {
      "main": [
        [
          {
            "node": "IF4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF4": {
      "main": [
        [
          {
            "node": "Set14",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set14": {
      "main": [
        [
          {
            "node": "Google Sheets11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set15": {
      "main": [
        [
          {
            "node": "Google Sheets11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets13": {
      "main": [
        [
          {
            "node": "IF5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF5": {
      "main": [
        [
          {
            "node": "Get Date Now1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Date Now3": {
      "main": [
        [
          {
            "node": "Format3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format3": {
      "main": [
        [
          {
            "node": "Set6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait8": {
      "main": [
        [
          {
            "node": "HTTP Request10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request10": {
      "main": [
        [
          {
            "node": "Set16",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set16": {
      "main": [
        [
          {
            "node": "Google Sheets14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets14": {
      "main": [
        [
          {
            "node": "Wait9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait9": {
      "main": [
        [
          {
            "node": "HTTP Request11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request11": {
      "main": [
        [
          {
            "node": "Set17",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set17": {
      "main": [
        [
          {
            "node": "Google Sheets15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets15": {
      "main": [
        [
          {
            "node": "Wait10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait10": {
      "main": [
        [
          {
            "node": "HTTP Request12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request12": {
      "main": [
        [
          {
            "node": "Set18",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set18": {
      "main": [
        [
          {
            "node": "IF6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF6": {
      "main": [
        [
          {
            "node": "Set19",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set20",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set19": {
      "main": [
        [
          {
            "node": "Google Sheets16",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set20": {
      "main": [
        [
          {
            "node": "Google Sheets16",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets17": {
      "main": [
        [
          {
            "node": "Wait8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set21": {
      "main": [
        [
          {
            "node": "Google Sheets17",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request13": {
      "main": [
        [
          {
            "node": "Set21",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set22": {
      "main": [
        [
          {
            "node": "Google Sheets18",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait11": {
      "main": [
        [
          {
            "node": "HTTP Request13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets19": {
      "main": [
        [
          {
            "node": "Wait11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set23": {
      "main": [
        [
          {
            "node": "Google Sheets19",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format4": {
      "main": [
        [
          {
            "node": "Set23",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Date Now4": {
      "main": [
        [
          {
            "node": "Format4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF7": {
      "main": [
        [
          {
            "node": "Get Date Now4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Sheets20",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request14": {
      "main": [
        [
          {
            "node": "IF7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets20": {
      "main": [
        [
          {
            "node": "IF8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF8": {
      "main": [
        [
          {
            "node": "Get Date Now5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Date Now5": {
      "main": [
        [
          {
            "node": "Format5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format5": {
      "main": [
        [
          {
            "node": "Set22",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "id": 25,
  "tags": [
    {
      "id": "3",
      "name": "Testing",
      "createdAt": "2022-08-05T09:39:14.882Z",
      "updatedAt": "2022-08-05T09:39:14.882Z"
    }
  ]
}