Docker/Workflow/n8n/Backup/Toan_Log.json
{
  "name": "Toan Log",
  "nodes": [
    {
      "parameters": {},
      "id": "6d1cfd7c-2326-4fdc-8a22-e0a8d385d649",
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "webhookUri": "https://discordapp.com/api/webhooks/1001484765238673468/0nmvT5VexRkmVFbmqax0mrJ-UU7sNi2_HbwPVoQ0jxhsRYowsdOqX5YI5rf81r12PfSO",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}",
        "options": {}
      },
      "name": "Log1",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        1740,
        520
      ],
      "id": "c7d32ad1-b828-45a4-a122-e5d9c8b568b9"
    },
    {
      "parameters": {
        "webhookUri": "https://discordapp.com/api/webhooks/1001484765238673468/0nmvT5VexRkmVFbmqax0mrJ-UU7sNi2_HbwPVoQ0jxhsRYowsdOqX5YI5rf81r12PfSO",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}",
        "options": {}
      },
      "name": "Log2",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        1740,
        740
      ],
      "id": "ecec1e89-d890-40b1-907d-b9acb61b0827"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=96b0327c7693d337",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1500,
        520
      ],
      "id": "16dc50f5-a5eb-48c3-9dcb-3eb8b3bf7d4e"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=d9185ebe2ac9cfbd",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1500,
        740
      ],
      "id": "1aa52fec-cba9-4815-886d-564d8f13562d"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=207f7a553222559f",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1500,
        940
      ],
      "id": "00cbc132-a7eb-461c-a3ce-473b190b47c0"
    },
    {
      "parameters": {
        "webhookUri": "https://discordapp.com/api/webhooks/1001484765238673468/0nmvT5VexRkmVFbmqax0mrJ-UU7sNi2_HbwPVoQ0jxhsRYowsdOqX5YI5rf81r12PfSO",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}",
        "options": {}
      },
      "name": "Log3",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        1740,
        940
      ],
      "id": "e06f838e-3c4b-4274-95ab-56146dd184ee"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=7f31c363a483cb18",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1500,
        1160
      ],
      "id": "191c6785-0c69-4a50-a010-7b8882e516f2"
    },
    {
      "parameters": {
        "webhookUri": "https://discordapp.com/api/webhooks/1001484765238673468/0nmvT5VexRkmVFbmqax0mrJ-UU7sNi2_HbwPVoQ0jxhsRYowsdOqX5YI5rf81r12PfSO",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}",
        "options": {}
      },
      "name": "Log4",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        1740,
        1160
      ],
      "id": "d0517b83-e416-461d-a074-8bdfdb46eed5"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=af310860e6effe89",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 8",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2040,
        1400
      ],
      "id": "19a91935-b02c-4e9f-8415-5bcaa7be6ccc"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=7ca53726afe390e3",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 7",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2040,
        1180
      ],
      "id": "558a8d09-cee2-4c27-927e-980edb1e5820"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=98d62faabd2e0835",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 6",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2040,
        980
      ],
      "id": "8cccb62f-c4e4-4f81-99f8-b29cc8c46f64"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=fd2bbf9d6e3dc02b",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2040,
        740
      ],
      "id": "69f4cced-4310-4d27-b7f2-63e28fb7570b"
    },
    {
      "parameters": {
        "webhookUri": "https://discordapp.com/api/webhooks/1001484765238673468/0nmvT5VexRkmVFbmqax0mrJ-UU7sNi2_HbwPVoQ0jxhsRYowsdOqX5YI5rf81r12PfSO",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}\n-------------------------------------------",
        "options": {}
      },
      "name": "Log8",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        2280,
        1400
      ],
      "id": "6d6f4fd4-ef12-4fa4-bea9-a9aa4e2c0ed8"
    },
    {
      "parameters": {
        "webhookUri": "https://discordapp.com/api/webhooks/1001484765238673468/0nmvT5VexRkmVFbmqax0mrJ-UU7sNi2_HbwPVoQ0jxhsRYowsdOqX5YI5rf81r12PfSO",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}",
        "options": {}
      },
      "name": "Log7",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        2280,
        1180
      ],
      "id": "a4ac2722-38c3-46ed-a47e-569573828e46"
    },
    {
      "parameters": {
        "webhookUri": "https://discordapp.com/api/webhooks/1001484765238673468/0nmvT5VexRkmVFbmqax0mrJ-UU7sNi2_HbwPVoQ0jxhsRYowsdOqX5YI5rf81r12PfSO",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}",
        "options": {}
      },
      "name": "Log6",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        2280,
        980
      ],
      "id": "8ea87287-869e-48f1-b589-574bbb3bd54a"
    },
    {
      "parameters": {
        "webhookUri": "https://discordapp.com/api/webhooks/1001484765238673468/0nmvT5VexRkmVFbmqax0mrJ-UU7sNi2_HbwPVoQ0jxhsRYowsdOqX5YI5rf81r12PfSO",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}",
        "options": {}
      },
      "name": "Log5",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        2280,
        740
      ],
      "id": "08bddbf8-6546-4cd0-bd6d-3421b096638c"
    },
    {
      "parameters": {
        "content": "**Chỉ được Execute Workflow, nghiêm cấm chỉnh sửa dưới mọi hình thức**\n\n\n**Writter: Datdt**",
        "width": 380
      },
      "name": "Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        960,
        820
      ],
      "id": "f0fdf1ac-a6cb-43ea-9887-59fc8b5e6b92"
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 5,
              "unit": "minutes"
            }
          ]
        }
      },
      "name": "Every 5 Mins",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        1260,
        520
      ],
      "id": "4ae80c0d-9858-4adc-afae-722b0a50e888"
    }
  ],
  "pinData": {},
  "connections": {
    "Log1": {
      "main": [
        [
          {
            "node": "Get Data 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log2": {
      "main": [
        [
          {
            "node": "Get Data 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 1": {
      "main": [
        [
          {
            "node": "Log1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 2": {
      "main": [
        [
          {
            "node": "Log2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 3": {
      "main": [
        [
          {
            "node": "Log3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log3": {
      "main": [
        [
          {
            "node": "Get Data 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 4": {
      "main": [
        [
          {
            "node": "Log4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log4": {
      "main": [
        [
          {
            "node": "Get Data 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 8": {
      "main": [
        [
          {
            "node": "Log8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 7": {
      "main": [
        [
          {
            "node": "Log7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 6": {
      "main": [
        [
          {
            "node": "Log6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 5": {
      "main": [
        [
          {
            "node": "Log5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log7": {
      "main": [
        [
          {
            "node": "Get Data 8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log6": {
      "main": [
        [
          {
            "node": "Get Data 7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log5": {
      "main": [
        [
          {
            "node": "Get Data 6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every 5 Mins": {
      "main": [
        [
          {
            "node": "Get Data 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "id": 5,
  "meta": {
    "instanceId": "b71f8622c6c36cbe3f1931f1c7fd66069c61e9582e1552de85947a34a6e1e438"
  },
  "tags": [
    {
      "id": "1",
      "name": "Production",
      "createdAt": "2022-09-07T04:17:52.134Z",
      "updatedAt": "2022-09-07T04:17:52.134Z"
    }
  ]
}