Docker/Workflow/n8n/Backup/Toan_Log.json
{
  "name": "Toan Log",
  "nodes": [
    {
      "parameters": {},
      "id": "83531973-ec5f-4a37-a297-711c60f2524b",
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "webhookUri": "https://discordapp.com/api/webhooks/1001484765238673468/0nmvT5VexRkmVFbmqax0mrJ-UU7sNi2_HbwPVoQ0jxhsRYowsdOqX5YI5rf81r12PfSO",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}",
        "options": {}
      },
      "name": "Log1",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        1940,
        260
      ],
      "id": "ecf88d3c-a9ea-4c0f-bde1-b0de82fd302d"
    },
    {
      "parameters": {
        "webhookUri": "https://discordapp.com/api/webhooks/1001484765238673468/0nmvT5VexRkmVFbmqax0mrJ-UU7sNi2_HbwPVoQ0jxhsRYowsdOqX5YI5rf81r12PfSO",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}",
        "options": {}
      },
      "name": "Log2",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        1940,
        480
      ],
      "id": "a4c242cb-59a8-4012-a50f-7845b7adeb03"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=96b0327c7693d337",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1700,
        260
      ],
      "id": "03ce55a7-b968-46cb-bbea-9492b0e86c55"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=d9185ebe2ac9cfbd",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1700,
        480
      ],
      "id": "f26f2d00-400d-4e94-a715-a3a8bfe0b194"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=207f7a553222559f",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1700,
        680
      ],
      "id": "26ea5870-9201-45a9-b9e4-0f2c7f0b5905"
    },
    {
      "parameters": {
        "webhookUri": "https://discordapp.com/api/webhooks/1001484765238673468/0nmvT5VexRkmVFbmqax0mrJ-UU7sNi2_HbwPVoQ0jxhsRYowsdOqX5YI5rf81r12PfSO",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}",
        "options": {}
      },
      "name": "Log3",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        1940,
        680
      ],
      "id": "e92c6964-7903-4a28-bf49-435d21b00489"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=7f31c363a483cb18",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1700,
        900
      ],
      "id": "e466a125-8cc4-44b5-9e78-2131938310e0"
    },
    {
      "parameters": {
        "webhookUri": "https://discordapp.com/api/webhooks/1001484765238673468/0nmvT5VexRkmVFbmqax0mrJ-UU7sNi2_HbwPVoQ0jxhsRYowsdOqX5YI5rf81r12PfSO",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}",
        "options": {}
      },
      "name": "Log4",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        1940,
        900
      ],
      "id": "65c05f6f-7c42-4a45-8596-18e3bac6d3ba"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=af310860e6effe89",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 8",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2240,
        1140
      ],
      "id": "bf06e044-4efd-4e50-ac45-57bb77c6aecc"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=7ca53726afe390e3",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 7",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2240,
        920
      ],
      "id": "d5702cb4-02be-4f0a-bd26-f54502a62c85"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=98d62faabd2e0835",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 6",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2240,
        720
      ],
      "id": "0b21c322-cca3-4359-a716-5533c4a144be"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=fd2bbf9d6e3dc02b",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2240,
        480
      ],
      "id": "3a4e4d0a-fea2-452e-ac24-e5da0598a8a2"
    },
    {
      "parameters": {
        "webhookUri": "https://discordapp.com/api/webhooks/1001484765238673468/0nmvT5VexRkmVFbmqax0mrJ-UU7sNi2_HbwPVoQ0jxhsRYowsdOqX5YI5rf81r12PfSO",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}\n-------------------------------------------",
        "options": {}
      },
      "name": "Log8",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        2480,
        1140
      ],
      "id": "58647e3e-6ff9-4b3e-9ed8-0efee4c1e8cf"
    },
    {
      "parameters": {
        "webhookUri": "https://discordapp.com/api/webhooks/1001484765238673468/0nmvT5VexRkmVFbmqax0mrJ-UU7sNi2_HbwPVoQ0jxhsRYowsdOqX5YI5rf81r12PfSO",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}",
        "options": {}
      },
      "name": "Log7",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        2480,
        920
      ],
      "id": "8f6c61e1-da45-4a07-8162-1352e201d6b6"
    },
    {
      "parameters": {
        "webhookUri": "https://discordapp.com/api/webhooks/1001484765238673468/0nmvT5VexRkmVFbmqax0mrJ-UU7sNi2_HbwPVoQ0jxhsRYowsdOqX5YI5rf81r12PfSO",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}",
        "options": {}
      },
      "name": "Log6",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        2480,
        720
      ],
      "id": "f2d9240b-9ee2-4374-ab56-f27f3a2c3ee8"
    },
    {
      "parameters": {
        "webhookUri": "https://discordapp.com/api/webhooks/1001484765238673468/0nmvT5VexRkmVFbmqax0mrJ-UU7sNi2_HbwPVoQ0jxhsRYowsdOqX5YI5rf81r12PfSO",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}",
        "options": {}
      },
      "name": "Log5",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        2480,
        480
      ],
      "id": "8b8fcb3c-5117-4be4-a0b5-811b2b95d9c9"
    },
    {
      "parameters": {
        "content": "**Chỉ được Execute Workflow, nghiêm cấm chỉnh sửa dưới mọi hình thức**\n\n\n**Writter: Datdt**",
        "width": 380
      },
      "name": "Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1160,
        560
      ],
      "id": "4063115b-c90e-4fe4-8861-09fd2ce6a0f1"
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 5,
              "unit": "minutes"
            }
          ]
        }
      },
      "name": "Every 5 Mins",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        1460,
        260
      ],
      "id": "c22fc52d-bb71-4c3c-b966-5c59e837bae5"
    }
  ],
  "pinData": {},
  "connections": {
    "Log1": {
      "main": [
        [
          {
            "node": "Get Data 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log2": {
      "main": [
        [
          {
            "node": "Get Data 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 1": {
      "main": [
        [
          {
            "node": "Log1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 2": {
      "main": [
        [
          {
            "node": "Log2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 3": {
      "main": [
        [
          {
            "node": "Log3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log3": {
      "main": [
        [
          {
            "node": "Get Data 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 4": {
      "main": [
        [
          {
            "node": "Log4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log4": {
      "main": [
        [
          {
            "node": "Get Data 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 8": {
      "main": [
        [
          {
            "node": "Log8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 7": {
      "main": [
        [
          {
            "node": "Log7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 6": {
      "main": [
        [
          {
            "node": "Log6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 5": {
      "main": [
        [
          {
            "node": "Log5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log7": {
      "main": [
        [
          {
            "node": "Get Data 8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log6": {
      "main": [
        [
          {
            "node": "Get Data 7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log5": {
      "main": [
        [
          {
            "node": "Get Data 6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every 5 Mins": {
      "main": [
        [
          {
            "node": "Get Data 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "id": 5,
  "meta": {
    "instanceId": "a674d506978da3053e5a404a62f6bcea6ac6137540c0d2713115cca5162ccd13"
  },
  "tags": [
    {
      "id": "1",
      "name": "Production",
      "createdAt": "2022-09-03T14:10:53.012Z",
      "updatedAt": "2022-09-03T14:10:53.012Z"
    }
  ]
}