Docker/Workflow/n8n/Backup/Trang_Log.json
{
  "name": "Trang Log",
  "nodes": [
    {
      "parameters": {},
      "id": "063035a4-7151-4ddb-803f-df22154ff449",
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "webhookUri": "https://discord.com/api/webhooks/1008262327528853514/d7hZOroaVIPxhfA1z0oh40Q4tC57t1XsVsx6K65tj1vwJaYPF6chMwFBkmOrLCG5_G0Y",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}",
        "options": {}
      },
      "name": "Log1",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        3540,
        1180
      ],
      "id": "2feeb335-56c8-450b-aada-2a37f27c8856"
    },
    {
      "parameters": {
        "webhookUri": "https://discord.com/api/webhooks/1008262327528853514/d7hZOroaVIPxhfA1z0oh40Q4tC57t1XsVsx6K65tj1vwJaYPF6chMwFBkmOrLCG5_G0Y",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}",
        "options": {}
      },
      "name": "Log2",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        3540,
        1400
      ],
      "id": "a79a97a8-4acc-4bae-9cb0-69c8f17d7a5b"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=0297cd696fea1f39",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        3300,
        1180
      ],
      "id": "50162aee-3f8b-4bf9-8ac4-1346820c5348"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=fcd41dadc13b63c8",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        3300,
        1400
      ],
      "id": "662dac64-0786-4a26-9f76-83c9cd9708f5"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=6377778d2fb04f1f",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        3300,
        1600
      ],
      "id": "0501fe1e-3b57-4e3f-ba18-a246bf7536a2"
    },
    {
      "parameters": {
        "webhookUri": "https://discord.com/api/webhooks/1008262327528853514/d7hZOroaVIPxhfA1z0oh40Q4tC57t1XsVsx6K65tj1vwJaYPF6chMwFBkmOrLCG5_G0Y",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}",
        "options": {}
      },
      "name": "Log3",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        3540,
        1600
      ],
      "id": "51e28c10-1976-4591-baa7-9d3172789c84"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=a1069af9993a51ff",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        3300,
        1820
      ],
      "id": "ff75b9c5-d175-483e-842b-79761846ae26"
    },
    {
      "parameters": {
        "webhookUri": "https://discord.com/api/webhooks/1008262327528853514/d7hZOroaVIPxhfA1z0oh40Q4tC57t1XsVsx6K65tj1vwJaYPF6chMwFBkmOrLCG5_G0Y",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}",
        "options": {}
      },
      "name": "Log4",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        3540,
        1820
      ],
      "id": "a012deda-e768-4547-96fb-dc8c578be264"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=dc836b2de690aa15",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 8",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        3840,
        2040
      ],
      "id": "c46550de-1afe-4b99-9742-2e5101601c8d"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=8c29e65a5f3db8e6",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 7",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        3840,
        1820
      ],
      "id": "565722f5-7f28-4d35-8351-81d80e90527a"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=0458291055d82328",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 6",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        3840,
        1600
      ],
      "id": "e8d49e87-71c1-4cf4-a5d1-d1c92a381812"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=5f8e88e887acb51b",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        3840,
        1400
      ],
      "id": "dcd4c854-e1cb-4d6d-b714-7a4626faaf28"
    },
    {
      "parameters": {
        "webhookUri": "https://discord.com/api/webhooks/1008262327528853514/d7hZOroaVIPxhfA1z0oh40Q4tC57t1XsVsx6K65tj1vwJaYPF6chMwFBkmOrLCG5_G0Y",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}",
        "options": {}
      },
      "name": "Log8",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        4080,
        2040
      ],
      "id": "b4bcbce3-fdb1-451d-b6eb-f712e0834880"
    },
    {
      "parameters": {
        "webhookUri": "https://discord.com/api/webhooks/1008262327528853514/d7hZOroaVIPxhfA1z0oh40Q4tC57t1XsVsx6K65tj1vwJaYPF6chMwFBkmOrLCG5_G0Y",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}",
        "options": {}
      },
      "name": "Log7",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        4080,
        1820
      ],
      "id": "785fe403-aa32-414b-825d-4a1f5d32bcd1"
    },
    {
      "parameters": {
        "webhookUri": "https://discord.com/api/webhooks/1008262327528853514/d7hZOroaVIPxhfA1z0oh40Q4tC57t1XsVsx6K65tj1vwJaYPF6chMwFBkmOrLCG5_G0Y",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}",
        "options": {}
      },
      "name": "Log6",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        4080,
        1600
      ],
      "id": "2d9cbe8d-03be-4149-a98f-455d62e23203"
    },
    {
      "parameters": {
        "webhookUri": "https://discord.com/api/webhooks/1008262327528853514/d7hZOroaVIPxhfA1z0oh40Q4tC57t1XsVsx6K65tj1vwJaYPF6chMwFBkmOrLCG5_G0Y",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}",
        "options": {}
      },
      "name": "Log5",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        4080,
        1400
      ],
      "id": "401988e6-351b-4f65-a4b5-3a526af38363"
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 5,
              "unit": "minutes"
            }
          ]
        }
      },
      "name": "Every 10 Mins",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        3060,
        1180
      ],
      "id": "b3b0e85b-59e6-459c-b82f-a25552867331"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=6366669059e23058",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 9",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        4380,
        1600
      ],
      "id": "19174996-00ed-4c1e-bc16-cfe47d463e75"
    },
    {
      "parameters": {
        "webhookUri": "https://discord.com/api/webhooks/1008262327528853514/d7hZOroaVIPxhfA1z0oh40Q4tC57t1XsVsx6K65tj1vwJaYPF6chMwFBkmOrLCG5_G0Y",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}",
        "options": {}
      },
      "name": "Log9",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        4600,
        1600
      ],
      "id": "47fa9b36-753c-4d14-ae92-22c7b2480767"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=cc1f122656eb8194",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 10",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        4380,
        1820
      ],
      "id": "739cc768-e05d-4cba-80d7-f1660c2a0b4a"
    },
    {
      "parameters": {
        "webhookUri": "https://discord.com/api/webhooks/1008262327528853514/d7hZOroaVIPxhfA1z0oh40Q4tC57t1XsVsx6K65tj1vwJaYPF6chMwFBkmOrLCG5_G0Y",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}\n-------------------------------------------",
        "options": {}
      },
      "name": "Log10",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        4600,
        1820
      ],
      "id": "12b6b096-a739-460b-85c2-9a80f4404314"
    }
  ],
  "pinData": {},
  "connections": {
    "Log1": {
      "main": [
        [
          {
            "node": "Get Data 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log2": {
      "main": [
        [
          {
            "node": "Get Data 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 1": {
      "main": [
        [
          {
            "node": "Log1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 2": {
      "main": [
        [
          {
            "node": "Log2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 3": {
      "main": [
        [
          {
            "node": "Log3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log3": {
      "main": [
        [
          {
            "node": "Get Data 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 4": {
      "main": [
        [
          {
            "node": "Log4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log4": {
      "main": [
        [
          {
            "node": "Get Data 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 8": {
      "main": [
        [
          {
            "node": "Log8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 7": {
      "main": [
        [
          {
            "node": "Log7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 6": {
      "main": [
        [
          {
            "node": "Log6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 5": {
      "main": [
        [
          {
            "node": "Log5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log8": {
      "main": [
        [
          {
            "node": "Get Data 9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log7": {
      "main": [
        [
          {
            "node": "Get Data 8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log6": {
      "main": [
        [
          {
            "node": "Get Data 7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log5": {
      "main": [
        [
          {
            "node": "Get Data 6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every 10 Mins": {
      "main": [
        [
          {
            "node": "Get Data 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 9": {
      "main": [
        [
          {
            "node": "Log9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log9": {
      "main": [
        [
          {
            "node": "Get Data 10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 10": {
      "main": [
        [
          {
            "node": "Log10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "id": 6,
  "meta": {
    "instanceId": "b71f8622c6c36cbe3f1931f1c7fd66069c61e9582e1552de85947a34a6e1e438"
  },
  "tags": []
}