Docker/Workflow/n8n/Backup/Trang_Log.json
{
  "name": "Trang Log",
  "nodes": [
    {
      "parameters": {},
      "id": "08460ad5-beb0-4dd2-aa9a-8678a8774357",
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "webhookUri": "https://discord.com/api/webhooks/1008262327528853514/d7hZOroaVIPxhfA1z0oh40Q4tC57t1XsVsx6K65tj1vwJaYPF6chMwFBkmOrLCG5_G0Y",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}",
        "options": {}
      },
      "name": "Log1",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        1900,
        260
      ],
      "id": "da1384d5-b8d0-40dd-80ce-cb1204d4189e"
    },
    {
      "parameters": {
        "webhookUri": "https://discord.com/api/webhooks/1008262327528853514/d7hZOroaVIPxhfA1z0oh40Q4tC57t1XsVsx6K65tj1vwJaYPF6chMwFBkmOrLCG5_G0Y",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}",
        "options": {}
      },
      "name": "Log2",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        1900,
        480
      ],
      "id": "6c2dbd6d-39f6-45a6-a548-a68e1d61518d"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=0297cd696fea1f39",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1660,
        260
      ],
      "id": "9677411f-bf2a-4859-afd5-f3735c35b4f6"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=fcd41dadc13b63c8",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1660,
        480
      ],
      "id": "e990f86d-805c-47f1-bd7c-0cb1fa73e548"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=6377778d2fb04f1f",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1660,
        680
      ],
      "id": "943b30f0-5717-4f0d-87d9-38c35dccf59b"
    },
    {
      "parameters": {
        "webhookUri": "https://discord.com/api/webhooks/1008262327528853514/d7hZOroaVIPxhfA1z0oh40Q4tC57t1XsVsx6K65tj1vwJaYPF6chMwFBkmOrLCG5_G0Y",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}",
        "options": {}
      },
      "name": "Log3",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        1900,
        680
      ],
      "id": "271adf59-d7a1-438b-8066-f0ec11fc4cd3"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=a1069af9993a51ff",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1660,
        900
      ],
      "id": "6dfcf19e-24f1-483e-bbb4-3268fbe5b3e1"
    },
    {
      "parameters": {
        "webhookUri": "https://discord.com/api/webhooks/1008262327528853514/d7hZOroaVIPxhfA1z0oh40Q4tC57t1XsVsx6K65tj1vwJaYPF6chMwFBkmOrLCG5_G0Y",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}",
        "options": {}
      },
      "name": "Log4",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        1900,
        900
      ],
      "id": "780a036f-6f31-439f-bf15-8f59bd5ed92e"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=dc836b2de690aa15",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 8",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2200,
        1120
      ],
      "id": "02e422fc-ab65-479a-8141-18bde317d4f1"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=8c29e65a5f3db8e6",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 7",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2200,
        900
      ],
      "id": "49011d4b-d287-4dd9-96d5-b88bd09af608"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=0458291055d82328",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 6",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2200,
        680
      ],
      "id": "c40f998c-a95a-4754-9ce0-fa99eefb10a3"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=5f8e88e887acb51b",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2200,
        480
      ],
      "id": "56c6258a-24bf-4b5c-97d5-1828a4e0138a"
    },
    {
      "parameters": {
        "webhookUri": "https://discord.com/api/webhooks/1008262327528853514/d7hZOroaVIPxhfA1z0oh40Q4tC57t1XsVsx6K65tj1vwJaYPF6chMwFBkmOrLCG5_G0Y",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}",
        "options": {}
      },
      "name": "Log8",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        2440,
        1120
      ],
      "id": "d46cd5da-ce4a-4f55-b561-f2d359d7b9f1"
    },
    {
      "parameters": {
        "webhookUri": "https://discord.com/api/webhooks/1008262327528853514/d7hZOroaVIPxhfA1z0oh40Q4tC57t1XsVsx6K65tj1vwJaYPF6chMwFBkmOrLCG5_G0Y",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}",
        "options": {}
      },
      "name": "Log7",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        2440,
        900
      ],
      "id": "705e4881-34a8-4bd3-bf59-b300ba8975f7"
    },
    {
      "parameters": {
        "webhookUri": "https://discord.com/api/webhooks/1008262327528853514/d7hZOroaVIPxhfA1z0oh40Q4tC57t1XsVsx6K65tj1vwJaYPF6chMwFBkmOrLCG5_G0Y",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}",
        "options": {}
      },
      "name": "Log6",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        2440,
        680
      ],
      "id": "ca1e933f-3a54-4358-acdf-62b5070d52e8"
    },
    {
      "parameters": {
        "webhookUri": "https://discord.com/api/webhooks/1008262327528853514/d7hZOroaVIPxhfA1z0oh40Q4tC57t1XsVsx6K65tj1vwJaYPF6chMwFBkmOrLCG5_G0Y",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}",
        "options": {}
      },
      "name": "Log5",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        2440,
        480
      ],
      "id": "159eebab-1b86-4347-91bb-1c060412196e"
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 5,
              "unit": "minutes"
            }
          ]
        }
      },
      "name": "Every 10 Mins",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        1420,
        260
      ],
      "id": "2ac6bccb-e824-4027-87b6-a7af5024ed8a"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=6366669059e23058",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 9",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2740,
        680
      ],
      "id": "76062d70-4c68-47d7-94f5-88d842259ef1"
    },
    {
      "parameters": {
        "webhookUri": "https://discord.com/api/webhooks/1008262327528853514/d7hZOroaVIPxhfA1z0oh40Q4tC57t1XsVsx6K65tj1vwJaYPF6chMwFBkmOrLCG5_G0Y",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}",
        "options": {}
      },
      "name": "Log9",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        2960,
        680
      ],
      "id": "fb7d3757-d8c3-4d13-93e7-01c6fd600dff"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=cc1f122656eb8194",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 10",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2740,
        900
      ],
      "id": "c4123543-bfd7-452f-a47d-ecd17c6a94e2"
    },
    {
      "parameters": {
        "webhookUri": "https://discord.com/api/webhooks/1008262327528853514/d7hZOroaVIPxhfA1z0oh40Q4tC57t1XsVsx6K65tj1vwJaYPF6chMwFBkmOrLCG5_G0Y",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}\n-------------------------------------------",
        "options": {}
      },
      "name": "Log10",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        2960,
        900
      ],
      "id": "d67de84f-93f0-4be8-a6d9-99a6f39e88cc"
    }
  ],
  "pinData": {},
  "connections": {
    "Log1": {
      "main": [
        [
          {
            "node": "Get Data 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log2": {
      "main": [
        [
          {
            "node": "Get Data 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 1": {
      "main": [
        [
          {
            "node": "Log1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 2": {
      "main": [
        [
          {
            "node": "Log2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 3": {
      "main": [
        [
          {
            "node": "Log3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log3": {
      "main": [
        [
          {
            "node": "Get Data 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 4": {
      "main": [
        [
          {
            "node": "Log4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log4": {
      "main": [
        [
          {
            "node": "Get Data 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 8": {
      "main": [
        [
          {
            "node": "Log8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 7": {
      "main": [
        [
          {
            "node": "Log7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 6": {
      "main": [
        [
          {
            "node": "Log6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 5": {
      "main": [
        [
          {
            "node": "Log5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log8": {
      "main": [
        [
          {
            "node": "Get Data 9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log7": {
      "main": [
        [
          {
            "node": "Get Data 8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log6": {
      "main": [
        [
          {
            "node": "Get Data 7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log5": {
      "main": [
        [
          {
            "node": "Get Data 6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every 10 Mins": {
      "main": [
        [
          {
            "node": "Get Data 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 9": {
      "main": [
        [
          {
            "node": "Log9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log9": {
      "main": [
        [
          {
            "node": "Get Data 10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 10": {
      "main": [
        [
          {
            "node": "Log10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "id": 6,
  "meta": {
    "instanceId": "a674d506978da3053e5a404a62f6bcea6ac6137540c0d2713115cca5162ccd13"
  },
  "tags": []
}