Docker/Workflow/n8n/Backup/Trinh_Log.json
{
  "name": "Trinh Log",
  "nodes": [
    {
      "parameters": {},
      "id": "55ed99de-6122-409d-b352-c2632d543a2c",
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "webhookUri": "https://discord.com/api/webhooks/1004969860763226213/THBvNHIsbpH5JK5uZ_GKl0_UR18Eh3YUVZZUPhrq0ykZhRTV80XDc5la2KUUpWo8X0v6",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}",
        "options": {}
      },
      "name": "Log1",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        3540,
        1180
      ],
      "id": "602c4b27-c483-4e4e-b7a6-601897e02fb4"
    },
    {
      "parameters": {
        "webhookUri": "https://discord.com/api/webhooks/1004969860763226213/THBvNHIsbpH5JK5uZ_GKl0_UR18Eh3YUVZZUPhrq0ykZhRTV80XDc5la2KUUpWo8X0v6",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}",
        "options": {}
      },
      "name": "Log2",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        3540,
        1400
      ],
      "id": "e8e60164-b6aa-4d37-a14f-76d1701a28ab"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=a028ea9010738830",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        3300,
        1180
      ],
      "id": "e1f28a7f-8d59-4eda-86c5-584c94f6f8e9"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=800470af17c60c22",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        3300,
        1400
      ],
      "id": "2d90c28c-72eb-4068-a930-06877dd9df4d"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=eb7ae290d30150c7",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        3300,
        1600
      ],
      "id": "a9dac7cc-4586-41a8-870f-588b49357418"
    },
    {
      "parameters": {
        "webhookUri": "https://discord.com/api/webhooks/1004969860763226213/THBvNHIsbpH5JK5uZ_GKl0_UR18Eh3YUVZZUPhrq0ykZhRTV80XDc5la2KUUpWo8X0v6",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}",
        "options": {}
      },
      "name": "Log3",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        3540,
        1600
      ],
      "id": "66016e29-6635-4acd-a6ba-72e02f7d9efe"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=217db9f13a403ded",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        3300,
        1820
      ],
      "id": "aac35237-15af-48ef-a6e9-42ac1b4cabef"
    },
    {
      "parameters": {
        "webhookUri": "https://discord.com/api/webhooks/1004969860763226213/THBvNHIsbpH5JK5uZ_GKl0_UR18Eh3YUVZZUPhrq0ykZhRTV80XDc5la2KUUpWo8X0v6",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}",
        "options": {}
      },
      "name": "Log4",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        3540,
        1820
      ],
      "id": "bfd1b88e-b8aa-4020-b310-79d7a861e030"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=794112d5a1e2c121",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 8",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        3840,
        2040
      ],
      "id": "57a55085-36a0-4ff0-af48-50043157a964"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=abbad19e97b755f0",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 7",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        3840,
        1820
      ],
      "id": "f2d9e1cd-b967-4e1b-95f6-c65c99d448de"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=fd2e2a941d6fdcf9",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 6",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        3840,
        1600
      ],
      "id": "da49617a-3810-465e-af6f-8f8814ddf5fb"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=3ffe23cdad76eaa1",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        3840,
        1400
      ],
      "id": "2c1c34fd-c7fb-4114-a0f4-1103c32f44b5"
    },
    {
      "parameters": {
        "webhookUri": "https://discord.com/api/webhooks/1004969860763226213/THBvNHIsbpH5JK5uZ_GKl0_UR18Eh3YUVZZUPhrq0ykZhRTV80XDc5la2KUUpWo8X0v6",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}",
        "options": {}
      },
      "name": "Log8",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        4080,
        2040
      ],
      "id": "6b2e8b3d-a19d-44f8-9503-66ba14c505e3"
    },
    {
      "parameters": {
        "webhookUri": "https://discord.com/api/webhooks/1004969860763226213/THBvNHIsbpH5JK5uZ_GKl0_UR18Eh3YUVZZUPhrq0ykZhRTV80XDc5la2KUUpWo8X0v6",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}",
        "options": {}
      },
      "name": "Log7",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        4080,
        1820
      ],
      "id": "dec47495-1406-419e-aed0-aae58c48a268"
    },
    {
      "parameters": {
        "webhookUri": "https://discord.com/api/webhooks/1004969860763226213/THBvNHIsbpH5JK5uZ_GKl0_UR18Eh3YUVZZUPhrq0ykZhRTV80XDc5la2KUUpWo8X0v6",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}",
        "options": {}
      },
      "name": "Log6",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        4080,
        1600
      ],
      "id": "eae65327-7fb5-4e57-a01e-1a88e8d839ba"
    },
    {
      "parameters": {
        "webhookUri": "https://discord.com/api/webhooks/1004969860763226213/THBvNHIsbpH5JK5uZ_GKl0_UR18Eh3YUVZZUPhrq0ykZhRTV80XDc5la2KUUpWo8X0v6",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}",
        "options": {}
      },
      "name": "Log5",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        4080,
        1400
      ],
      "id": "ac74738e-b3ab-4cc9-b7be-9bcc9ec725c6"
    },
    {
      "parameters": {
        "content": "**Chỉ được Execute Workflow, nghiêm cấm chỉnh sửa dưới mọi hình thức**\n\n\n**Writter: Datdt**",
        "width": 380
      },
      "name": "Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2760,
        1480
      ],
      "id": "ec4d6fad-1686-47fc-ad8d-e7593b1d72c7"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=d8b20483d526858e",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 9",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        4380,
        1600
      ],
      "id": "a95f37e9-6a59-43fc-ba3d-21f61c9fe61f"
    },
    {
      "parameters": {
        "webhookUri": "https://discord.com/api/webhooks/1004969860763226213/THBvNHIsbpH5JK5uZ_GKl0_UR18Eh3YUVZZUPhrq0ykZhRTV80XDc5la2KUUpWo8X0v6",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}",
        "options": {}
      },
      "name": "Log9",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        4600,
        1600
      ],
      "id": "ee2a0ce6-ff46-40cc-b196-7a741ce1d163"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=6a03b7604bcdf147",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 10",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        4380,
        1820
      ],
      "id": "8458d960-a458-4be5-8c44-b76dcb9e7eb3"
    },
    {
      "parameters": {
        "webhookUri": "https://discord.com/api/webhooks/1004969860763226213/THBvNHIsbpH5JK5uZ_GKl0_UR18Eh3YUVZZUPhrq0ykZhRTV80XDc5la2KUUpWo8X0v6",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}",
        "options": {}
      },
      "name": "Log10",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        4600,
        1820
      ],
      "id": "059be9d9-7778-4a8f-aef6-5fa17fa8f22d"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=8f31b7de7962f6c2",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 11",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        4380,
        2040
      ],
      "id": "0a05c701-161e-422b-8dea-055d5a4ce9db"
    },
    {
      "parameters": {
        "webhookUri": "https://discord.com/api/webhooks/1004969860763226213/THBvNHIsbpH5JK5uZ_GKl0_UR18Eh3YUVZZUPhrq0ykZhRTV80XDc5la2KUUpWo8X0v6",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}\n-------------------------------------------",
        "options": {}
      },
      "name": "Log 11",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        4600,
        2040
      ],
      "id": "3b61d73c-02ae-4e5b-b77a-288fe280a24c"
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 5,
              "unit": "minutes"
            }
          ]
        }
      },
      "name": "Every 5 Mins",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        3060,
        1180
      ],
      "id": "6957c52f-f590-466b-ad0f-bb8b592c5857"
    }
  ],
  "pinData": {},
  "connections": {
    "Log1": {
      "main": [
        [
          {
            "node": "Get Data 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log2": {
      "main": [
        [
          {
            "node": "Get Data 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 1": {
      "main": [
        [
          {
            "node": "Log1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 2": {
      "main": [
        [
          {
            "node": "Log2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 3": {
      "main": [
        [
          {
            "node": "Log3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log3": {
      "main": [
        [
          {
            "node": "Get Data 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 4": {
      "main": [
        [
          {
            "node": "Log4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log4": {
      "main": [
        [
          {
            "node": "Get Data 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 8": {
      "main": [
        [
          {
            "node": "Log8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 7": {
      "main": [
        [
          {
            "node": "Log7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 6": {
      "main": [
        [
          {
            "node": "Log6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 5": {
      "main": [
        [
          {
            "node": "Log5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log7": {
      "main": [
        [
          {
            "node": "Get Data 8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log6": {
      "main": [
        [
          {
            "node": "Get Data 7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log5": {
      "main": [
        [
          {
            "node": "Get Data 6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 9": {
      "main": [
        [
          {
            "node": "Log9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log9": {
      "main": [
        [
          {
            "node": "Get Data 10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 10": {
      "main": [
        [
          {
            "node": "Log10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 11": {
      "main": [
        [
          {
            "node": "Log 11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log8": {
      "main": [
        [
          {
            "node": "Get Data 9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log10": {
      "main": [
        [
          {
            "node": "Get Data 11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every 5 Mins": {
      "main": [
        [
          {
            "node": "Get Data 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "id": 7,
  "meta": {
    "instanceId": "b71f8622c6c36cbe3f1931f1c7fd66069c61e9582e1552de85947a34a6e1e438"
  },
  "tags": [
    {
      "id": "1",
      "name": "Production",
      "createdAt": "2022-09-07T04:17:52.134Z",
      "updatedAt": "2022-09-07T04:17:52.134Z"
    }
  ]
}