Docker/Workflow/n8n/Backup/Trinh_Log.json
{
  "name": "Trinh Log",
  "nodes": [
    {
      "parameters": {},
      "id": "e584e78c-6fa3-479a-9ddc-fecc9f323ef9",
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "webhookUri": "https://discord.com/api/webhooks/1004969860763226213/THBvNHIsbpH5JK5uZ_GKl0_UR18Eh3YUVZZUPhrq0ykZhRTV80XDc5la2KUUpWo8X0v6",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}",
        "options": {}
      },
      "name": "Log1",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        1940,
        260
      ],
      "id": "bd67f76f-efbb-4929-9a4c-4d67cfb6de37"
    },
    {
      "parameters": {
        "webhookUri": "https://discord.com/api/webhooks/1004969860763226213/THBvNHIsbpH5JK5uZ_GKl0_UR18Eh3YUVZZUPhrq0ykZhRTV80XDc5la2KUUpWo8X0v6",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}",
        "options": {}
      },
      "name": "Log2",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        1940,
        480
      ],
      "id": "0fe788a7-56f1-4d79-bcf8-698ff10714f9"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=a028ea9010738830",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1700,
        260
      ],
      "id": "682dad8f-4043-4961-8a94-a13d489e75a0"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=800470af17c60c22",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1700,
        480
      ],
      "id": "9bfb01e2-4c5a-40e4-a591-517d77b0915a"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=eb7ae290d30150c7",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1700,
        680
      ],
      "id": "b31a1679-cddf-4b47-8dc5-86636333e38d"
    },
    {
      "parameters": {
        "webhookUri": "https://discord.com/api/webhooks/1004969860763226213/THBvNHIsbpH5JK5uZ_GKl0_UR18Eh3YUVZZUPhrq0ykZhRTV80XDc5la2KUUpWo8X0v6",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}",
        "options": {}
      },
      "name": "Log3",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        1940,
        680
      ],
      "id": "1e902d2c-4d52-4a7f-a7ea-3d83e3e90999"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=217db9f13a403ded",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1700,
        900
      ],
      "id": "ce55b96c-f816-49d4-abab-dd8e043ed32d"
    },
    {
      "parameters": {
        "webhookUri": "https://discord.com/api/webhooks/1004969860763226213/THBvNHIsbpH5JK5uZ_GKl0_UR18Eh3YUVZZUPhrq0ykZhRTV80XDc5la2KUUpWo8X0v6",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}",
        "options": {}
      },
      "name": "Log4",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        1940,
        900
      ],
      "id": "77d93c68-3f34-442a-97ce-bec34f388f50"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=794112d5a1e2c121",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 8",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2240,
        1120
      ],
      "id": "b654db48-300c-46bb-b490-03cbe21cffdc"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=abbad19e97b755f0",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 7",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2240,
        900
      ],
      "id": "70349660-2b80-4160-be0f-3460729e402c"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=fd2e2a941d6fdcf9",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 6",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2240,
        680
      ],
      "id": "4064341c-524d-4756-a1b3-d450254df2ea"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=3ffe23cdad76eaa1",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2240,
        480
      ],
      "id": "3bed428a-44cf-4c49-9eec-1de9e71006a7"
    },
    {
      "parameters": {
        "webhookUri": "https://discord.com/api/webhooks/1004969860763226213/THBvNHIsbpH5JK5uZ_GKl0_UR18Eh3YUVZZUPhrq0ykZhRTV80XDc5la2KUUpWo8X0v6",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}",
        "options": {}
      },
      "name": "Log8",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        2480,
        1120
      ],
      "id": "eedaedf1-b28c-43eb-b04d-8ab7c6bc4193"
    },
    {
      "parameters": {
        "webhookUri": "https://discord.com/api/webhooks/1004969860763226213/THBvNHIsbpH5JK5uZ_GKl0_UR18Eh3YUVZZUPhrq0ykZhRTV80XDc5la2KUUpWo8X0v6",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}",
        "options": {}
      },
      "name": "Log7",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        2480,
        900
      ],
      "id": "c89c337c-fb2c-4432-8635-a02079912353"
    },
    {
      "parameters": {
        "webhookUri": "https://discord.com/api/webhooks/1004969860763226213/THBvNHIsbpH5JK5uZ_GKl0_UR18Eh3YUVZZUPhrq0ykZhRTV80XDc5la2KUUpWo8X0v6",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}",
        "options": {}
      },
      "name": "Log6",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        2480,
        680
      ],
      "id": "289eff67-64e2-4aa1-8489-bb09257b97e7"
    },
    {
      "parameters": {
        "webhookUri": "https://discord.com/api/webhooks/1004969860763226213/THBvNHIsbpH5JK5uZ_GKl0_UR18Eh3YUVZZUPhrq0ykZhRTV80XDc5la2KUUpWo8X0v6",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}",
        "options": {}
      },
      "name": "Log5",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        2480,
        480
      ],
      "id": "902dcc7f-08fb-4f37-b72d-e48a638318ff"
    },
    {
      "parameters": {
        "content": "**Chỉ được Execute Workflow, nghiêm cấm chỉnh sửa dưới mọi hình thức**\n\n\n**Writter: Datdt**",
        "width": 380
      },
      "name": "Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1160,
        560
      ],
      "id": "b33234c9-cfd6-45b2-a782-ff5bdfd30c74"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=d8b20483d526858e",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 9",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2780,
        680
      ],
      "id": "c778a30c-8bf7-4c5c-b7ca-908bcddcc7b4"
    },
    {
      "parameters": {
        "webhookUri": "https://discord.com/api/webhooks/1004969860763226213/THBvNHIsbpH5JK5uZ_GKl0_UR18Eh3YUVZZUPhrq0ykZhRTV80XDc5la2KUUpWo8X0v6",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}",
        "options": {}
      },
      "name": "Log9",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        3000,
        680
      ],
      "id": "3b77accd-54ee-4986-b24b-82b1c4e9a93f"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=6a03b7604bcdf147",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 10",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2780,
        900
      ],
      "id": "6177cdd8-6388-467e-a030-de4826abcffd"
    },
    {
      "parameters": {
        "webhookUri": "https://discord.com/api/webhooks/1004969860763226213/THBvNHIsbpH5JK5uZ_GKl0_UR18Eh3YUVZZUPhrq0ykZhRTV80XDc5la2KUUpWo8X0v6",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}",
        "options": {}
      },
      "name": "Log10",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        3000,
        900
      ],
      "id": "af73568e-3c62-46cd-bc6e-cd5509ec44a4"
    },
    {
      "parameters": {
        "url": "https://chothuesimcode.com/api?act=account&apik=8f31b7de7962f6c2",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Data 11",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2780,
        1120
      ],
      "id": "7f0c72dd-31a6-4629-84e5-f5f778ae47e1"
    },
    {
      "parameters": {
        "webhookUri": "https://discord.com/api/webhooks/1004969860763226213/THBvNHIsbpH5JK5uZ_GKl0_UR18Eh3YUVZZUPhrq0ykZhRTV80XDc5la2KUUpWo8X0v6",
        "text": "={{$json[\"Result\"][\"Name\"]}}: {{$json[\"Result\"][\"Balance\"]}} - CTSC {{$json[\"Result\"][\"Phone\"]}}\n-------------------------------------------",
        "options": {}
      },
      "name": "Log 11",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        3000,
        1120
      ],
      "id": "c7b9659b-654b-4097-a805-5b1d5a7434bf"
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 5,
              "unit": "minutes"
            }
          ]
        }
      },
      "name": "Every 5 Mins",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        1460,
        260
      ],
      "id": "55451c95-224c-4b74-98fd-0d60cd5679f9"
    }
  ],
  "pinData": {},
  "connections": {
    "Log1": {
      "main": [
        [
          {
            "node": "Get Data 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log2": {
      "main": [
        [
          {
            "node": "Get Data 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 1": {
      "main": [
        [
          {
            "node": "Log1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 2": {
      "main": [
        [
          {
            "node": "Log2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 3": {
      "main": [
        [
          {
            "node": "Log3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log3": {
      "main": [
        [
          {
            "node": "Get Data 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 4": {
      "main": [
        [
          {
            "node": "Log4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log4": {
      "main": [
        [
          {
            "node": "Get Data 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 8": {
      "main": [
        [
          {
            "node": "Log8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 7": {
      "main": [
        [
          {
            "node": "Log7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 6": {
      "main": [
        [
          {
            "node": "Log6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 5": {
      "main": [
        [
          {
            "node": "Log5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log7": {
      "main": [
        [
          {
            "node": "Get Data 8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log6": {
      "main": [
        [
          {
            "node": "Get Data 7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log5": {
      "main": [
        [
          {
            "node": "Get Data 6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 9": {
      "main": [
        [
          {
            "node": "Log9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log9": {
      "main": [
        [
          {
            "node": "Get Data 10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 10": {
      "main": [
        [
          {
            "node": "Log10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 11": {
      "main": [
        [
          {
            "node": "Log 11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log8": {
      "main": [
        [
          {
            "node": "Get Data 9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log10": {
      "main": [
        [
          {
            "node": "Get Data 11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every 5 Mins": {
      "main": [
        [
          {
            "node": "Get Data 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "id": 7,
  "meta": {
    "instanceId": "a674d506978da3053e5a404a62f6bcea6ac6137540c0d2713115cca5162ccd13"
  },
  "tags": [
    {
      "id": "1",
      "name": "Production",
      "createdAt": "2022-09-03T14:10:53.012Z",
      "updatedAt": "2022-09-03T14:10:53.012Z"
    }
  ]
}